/*1030px to more... */

@media only screen and (min-width: 1031px) {
    .header_try_btn {
        margin-right: 8%;
    }
    .main-content {
        padding-bottom: 80px;
    }
    .newSlider,
    .newSlider1 {
        font-size: 55px;
    }
    .ms-layer {
        width: 100%;
        left: 0px !important;
        text-align: center;
        top: 70px!important;
    }
    /* .ms-view,.ms-slide{
		height: 500px !important;
	} */
    .ms-slide-bgcont img {
        /* height: 230px !important;
	    margin-left: 0px !important;
	    margin-top: 0px !important; */
        height: 100%!important;
    }
    .ms-anim-layers img {
        width: 715px!important;
        height: auto!important;
        /* left: 194.643px !important;
	    margin: 0 !important; */
        /* padding: 0 !important;*/
        right: 0px !important;
        top: 123px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .home_page_header h1 {
        font-size: 55px;
        line-height: 55px;
        margin: 50px 0 22px 0;
    }
    .home_page_header p {
        font-size: 25px;
        line-height: 25px;
    }
    .home_page_header {
        margin-bottom: 30px!important;
    }
    .testVideo {
        padding-left: 50px;
    }
    .videoNew {
        width: 93% !important;
    }
    .videoText {
        width: 93%;
        font-size: 17px;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .testimonials {
        margin-bottom: 0px!important;
    }
    .testimonials:first-child {
        margin-top: 20px!important;
    }
    .review_btn_large img {
        /*padding-top:20px;
	    padding-bottom: 40px;
    width: 30%;*/
    }
    .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-left: 3px;
        padding-top: 2em;
        font-style: normal;
        font-family: roboto bold;
        color: #4d6070;
    }
    .testiPara .testimonial.testimonial-style-5 blockquote p {
        font-size: 17px;
        line-height: 24px;
    }
    .testiPara .testimonial-title {
        font-size: 17px;
        line-height: 24px;
    }
    .videoNew {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .home_what_is_phonics h1 {
        font-size: 35px;
        line-height: 35px;
        margin: 40px 0 10px 0;
    }
    .home_what_is_phonics p {
        font-size: 17px;
        line-height: 27px;
    }
    .home_what_is_phonics .phonic_img img {
        width: 100%;
    }
    .home_what_is,
    .home_our_approach {
        padding-right: 75px!important;
    }
    .home_why_use {
        padding-left: 75px!important;
    }
    .home_what_is_phonics {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .how_prog_works_header {
        font-size: 55px;
        line-height: 55px;
        margin: 40px 0px 20px 0;
    }
    .how_the_prog_works_para {
        font-size: 25px;
        width: 814px;
        margin-left: auto;
        margin-right: auto;
        line-height: 32px!important;
    }
    .home_four_blocks {
        margin-top: 45px;
    }
    .home_four_blocks p {
        font-size: 16px;
    }
    .learncolumn,
    .practicecolumn,
    .readcolumn,
    .celebratecolumn {
        min-height: 458px;
        max-height: 458px;
        border: 2px solid white;
    }
    .eight_level_prog_text h2 {
        font-size: 55px;
        line-height: 60px;
        margin-bottom: 18px;
        margin-top: 50px;
    }
    .eight_level_prog_text p {
        font-size: 25px;
        line-height: 35px!important;
    }
    .eight_level_chart {
        margin-bottom: 58px;
    }
    .home_page_header_tabs .the_complete_header {
        font-size: 55px;
        line-height: 60px!important;
        margin: 30px 0 0 0;
    }
    .tab_header {
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
    .home_page_header_tabs .two_ways_text {
        margin-bottom: 35px!important;
        font-size: 55px;
        line-height: 60px!important;
    }
    .home_page_header_tabs h2 {
        color: #ee5307;
        font-size: 55px;
        line-height: 70px;
    }
    .boottabs li a {
        font-size: 28px;
        height: 55px;
    }
    .boottabs li.active:last-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 15px 0 15px;
        border-color: #106fbc transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .boottabs li.active:first-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 15px 0 15px;
        border-color: #ff9419 transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
       /* content: ' ';*/
    }
    .tab_tick_list ul li {
        font-size: 20px;
    }
    .tab_block,
    .tab_tick_list {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .tab_tick_list p {
        font-size: 20px!important;
        margin-bottom: 0px;
    }
    .tab_block p {
        font-size: 20px;
        line-height: 27px!important;
    }
    #tabid2 h2,
    #tabid1 h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .special_comlete_kit {
        padding-left: 5%!important;
        padding-bottom: 30px;
    }
    .simply_best_header {
        font-size: 55px;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .simply_the_best_checklist h3 {
        font-size: 40px;
        margin: 0px!important;
        line-height: 40px;
    }
    .simply_best_text p {
        font-size: 25px;
        line-height: 30px!important;
        padding-bottom: 20px;
    }
    .desktop_award_logo {
        padding-top: 25px!important;
    }
    .award_btn {
        padding: 50px 0 50px 0;
    }
    .my_kids_exited_text h2 {
        font-size: 36px;
        margin-bottom: 0px;
    }
    .joe_alexa_text {
        font-size: 24px;
        margin: 12px 0 45px 0!important;
    }
    .the_boldest_text h3 {
        font-size: 36px;
        margin: 40px 0 30px 0;
    }
    .the_boldest_text h1 {
        font-size: 55px;
        line-height: 60px;
    }
    #tabid1 .tab_content {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #tabid2 .tab_content {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .home_faq_header_text {
        font-size: 55px;
        line-height: 55px!important;
        margin: 50px 0 0 0;
    }
    .home_faq_header1 {
        font-size: 20px;
        padding: 20px 0 30px 0;
        line-height: 20px!important;
    }
    .toggle>label:before {
        content: url("/wp-content/uploads/2016/11/faq_arrow.png")!important;
        border: none;
        right: 0;
        top: 0;
    }
    .toggle.active>label:before {
        border: 0;
        content: url("/wp-content/uploads/2016/11/faq_arow.png")!important;
        ri
        top: 0;
    }
    .faq_header {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
        padding-left: 30px;
        margin-bottom: 7px;
        width: 100%;
    }
    .page-faqs label p {
        vertical-align: middle;
        display: table-cell;
    }

	#tabid1 .complete_kit_span, .digital_only_span, #tabid2 .complete_kit_span, .digital_only_span{
        font-size: 28px;
        line-height: 31px;
        letter-spacing: -1px;
    }
    .home_subscribe_row,
    .digital_only_three_block {
        margin-top: 80px;
        width: 835px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .lifetime_digital_only {
        border-right: 1px dashed gray;
    }
    .month_digital_only {
        border-left: 1px dashed gray;
        padding-left: 20px!important;
    }
    .year_digital_only {
        padding-left: 20px!important;
        padding-bottom: 30px;
    }
    .copyright_footer {
        width: 66%;
        position: absolute;
        bottom: 83px;
        right: 0;
        text-align: center;
        font-weight: 400!important;
    }
    .eight_level_prog_text {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .home_faq_button {
        margin-top: 40px;
    }
    section.toggle label,
    .toggle>label:hover {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
        height: 80px;
        border-left: 0px;
    }
    section.toggle.active>label {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
    }
    .my_kids_exited_text h2 {
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        width: 650px;
    }
    .tab_block .vc_single_image-wrapper img {
        width: 100%;
    }
    .testiPara {
        padding-top: 20px;
    }
    .home_improve_by .wpb_text_column {
        /* margin-bottom:45px!important; */
    }
    .tab_block1 p,
    .tab_block4 p {
        padding-top: 17px;
    }
    .tab_block2 p,
    .tab_block3 p {
        padding-top: 21px;
    }
    .simply_l1 {
        padding-left: 24px!important;
    }
    #what_is_mobile_image {
        display: none;
    }
    #product_name_mobile {
        display: none;
    }
    /* global */
    .page-top .page-title {
        font-size: 24px;
    }
    .page-top ul.breadcrumb li {
        font-size: 24px;
    }
    p,
    ol li,
    ul li {
        font-size: 16px;
        line-height: 22px!important;
    }
    /*reviews page */
    .reviews_page_header h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px!important;
    }
    .reviews_video p {
        font-size: 14px;
        line-height: 19px;
    }
    .reviews_video {
        padding-bottom: 50px;
    }
    .reviews_video .wpb_video_widget {
        margin-bottom: 10px !important;
    }
    .testimonial.testimonial-style-5 blockquote {
        padding: 6px 0px;
    }
    .testimonial-title {
        font-size: 16px;
        line-height: 22px;
    }
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 16px;
        line-height: 22px;
        padding-left: 3px;
    }
    .vc_video-aspect-ratio-169 {
        margin-bottom: 10px !important;
    }
    /*apps page*/
    .app_header {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px!important;
    }
    /*faq page*/
    .faq_page_header {
        font-size: 40px;
        line-height: 40px!important;
    }
    div.ufaq-faq-title h4 {
        font-size: 24px;
        line-height: 26px;
        color: #5d6f7f!important;
    }
    /*awards page*/
    .awards_header {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 40px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 24px;
        line-height: 26px;
    }
    .award_row p {
        font-size: 16px;
        line-height: 22px;
    }
    .blog_menu {
        margin-top: 35px;
    }
    /* privacy page*/
    .privacy_page_header {
        margin: 0 0 25px 0;
        font-size: 40px;
        line-height: 40px;
    }
    .inner_page_content p {
        font-size: 16px;
        color: #4d606f;
        line-height: 22px!important;
    }
    /*about page*/
    .about_heading2 {
        font-size: 24px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 50px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    .about_subheader {
        font-size: 24px;
        line-height: 26px!important;
        color: #276bae;
    }
    .about_list ul li {
        font-size: 26.48px;
        line-height: 32px!important;
    }
    .about_video_header p {
        font-size: 24px;
        line-height: 26px!important;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 10px;
    }
    .about_image img {
        width: 97%!important;
    }
    /*footer*/
    #footer .widget>div>ul li {
        padding-left: 0px;
        line-height: 16px!important;
    }
    /*waht is phonics page*/
    .whatis_page_header {
        margin: 0 0 25px 0;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px!important;
    }
    #player {
        background-color: #fff!important;
    }
    .what_is_header1 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .what_is_p1 {
        line-height: 22px!important;
        font-size: 16px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3,
    .what_is_p4 h3,
    .what_is_subheading h3,
    .what_is_p9 h3 {
        font-family: roboto bold !important;
        font-size: 24px;
        line-height: 26px;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 24px;
        color: #266bae;
        margin-bottom: 14px;
        letter-spacing: -1px;
        line-height: 26px;
    }
    .what_is_subheading1 h3 {
        font-size: 24px;
        line-height: 26px;
        color: #266bae;
        margin-top: 50px;
        font-family: roboto bold !important;
    }
    .whatis_page_header1 {
        margin-top: 50px;
        color: #276bae;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px!important;
    }
    .what_is_list2 ul li {
        font-size: 20px;
        line-height: 30px!important;
    }
    .post-6074 .vc_single_image-wrapper img {
        width: 100% !important;
        padding-right: 10px;
    }
    .what_is_p4 {
        margin-bottom: 50px!important;
    }
    .what_is_p9 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .our_approach_content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .yourchildreads {
        font-size: 24px !important;
        line-height: 26px!important;
    }
    .what_is_learn,
    .what_is_read,
    .what_is_celebrate_txt,
    .what_is_practice_txt {
        font-size: 24px;
        line-height: 26px!important;
    }
    .what_is_p5 {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .what_is_p5new {
        padding-bottom: 40px;
    }
    #learn_practice {
        margin-top: 20px;
        padding-bottom: 50px;
    }
    /*product page*/
    #product-tab .tab-content p {
        font-size: 16px;
        line-height: 22px!important;
    }
    .resp-tabs-list li {
        font-size: 16px;
        line-height: 22px!important;
    }
    .shop_category_menu {
        display: none;
    }
    .blog_nav ul li {
        width: 25%;
        border: 1px solid white;
    }
    .aps-search-form input#type-post-name {
        width: 72%!important;
    }
    .term-1st-grades .cat-top-box .cat-kind,
    .term-1st-grade .cat-top-box .cat-kind {
        margin-top: 22px;
    }
    .term-pre-k .cat-top-box .cat-kind,
    .term-pre-k-replacement-parts .cat-top-box .cat-kind {
        margin-top: 33px;
    }
    .cat-top-box {
        overflow: hidden;
        padding: 0 15px 0 15px;
        border: 3px solid;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .cat-top-box .ct-img {
        margin: -60px 0 -3px 30px;
        width: 25%;
        float: right;
    }
    .cat-box-wrap {
        color: #ec373b;
        float: left;
        width: 100%;
    }
    .cat-box-wrap h1 {
        /* display:block; */
        /* margin: 0px; */
        /* float: left; */
        font-size: 49.71px;
        padding-right: 15px;
        /*    height: 80px; */
        /* line-height:105px; */
    }
    .cat-box-wrap .cat-txt {
        width: 65%;
    }
    .cat-top-box .cat-kind {
        /* width: 81%; */
        margin-top: 3px;
        font-family: roboto medium;
        font-size: 17px;
    }
    .term-2nd-grades .cat-top-box .cat-kind,
    .term-2nd-grade .cat-top-box .cat-kind {
        margin-top: 20px;
    }
    .cat-box-wrap .cat-txt {
        font-size: 17px;
    }
    .cat-top-box .box-img {
        float: right;
    }
    .cat-top-box .box-first {
        float: right;
    }
    /* .cat-top-box .cat-second{
width: 31%;
} */
    .cat-top-box .box-second {
        float: right;
    }
    .term-kindergarten .cat-top-box .cat-kind,
    .term-kindergarten_rpl .cat-top-box .cat-kind {
        margin-top: 24px;
    }
    #desktop_try_img {
        width: 17%;
    }
    .page-top.page-header-1 .page-title {
        padding-bottom: 1px;
        margin-bottom: -4px;
        border-bottom: 4px solid #0388cc;
        min-height: 46px;
        /*display:none;*/
    }
    body {
        font-size: 16px;
    }
    b {
        font-family: roboto bold;
    }
    .what_is_p2 p {
        margin-bottom: 10px!important;
    }
    .what_is_p2 h3 {
        margin-bottom: 10px!important;
    }
    .app_slider .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
        margin-bottom: 40px;
    }
    #why_use_phonics .whatis_page_header,
    #our_approach_to_phonics .whatis_page_header {
        margin-top: 50px;
    }
    .home_money_back {
        width: 750px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #2e6cae;
        padding: 20px 20px 30px;
    }
    .home_money_back h2 {
        font-family: roboto bold;
        font-size: 40px;
        line-height: 40px!important;
        color: #ff9300;
        margin-bottom: 5px!important;
    }
    .home_money_back p {
        font-family: roboto regular;
        font-size: 20px;
        line-height: 28px!important;
    }
    .home_money_back_outer {
        width: 780px;
        margin-right: auto;
        margin-left: auto;
        padding: 15px;
        border: 1px solid #6790be;
        background-color: white;
    }
    .ms-sl-selected {
        height: 515px!important;
    }
    .ms-slide-bgcont img {
        height: 515px!important;
    }
    .ms-view {
        height: 515px!important;
    }
    .prod_cat_left {
        display: table;
        height: 120px;
    }
    .cat-top-box .prod_cat_left h1 {
        display: table-cell;
        vertical-align: middle;
        width: 240px;
    }
    .cat-top-box .txt-kind {
        display: table-cell;
        vertical-align: middle;
    }
    #prek_shop_h1 {
        width: 150px;
    }
    .reading_pro_app_icons .wpb_single_image {
        width: 150px;
        padding-top: 7px;
    }
    .price del {
        font-size: 20px;
        color: #f15300;
        padding-right: 8px;
    }
    .readcolumn .read p a {
        display: inline;
    }
}


/*
#billing_country_field { display:none; }
.payment_box.payment_method_paypal_pro .form-row-first { width: 100%; }
.payment_box.payment_method_paypal_pro .form-row-last { float: left; }
.payment_box.payment_method_paypal_pro .form-row-first:nth-child(3) { float: right; width: 48%; }
*/

.home_subscribe_row {
    padding-bottom: 20px!important;
}

