/* 481px to 767px */

@media only screen and (min-width: 481px) and (max-width: 767px) {
    #header.sticky-header .logo {
        display: block;
    }
    .main-content {
        padding-bottom: 58px;
    }
    #header .logo a {
        width: 90%;
        float: left;
        padding-left: 10px;
    }
    .how_the_prog_works_para {
        font-size: 16px;
        line-height: 20px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .home_page_header h2 {
        line-height: 30px;
        font-size: 27px;
    }
    .tab_tick_list ul li {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -1px;
    }
    .tab_header {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .home_subscribe_btn {
        padding-bottom: 10px!important;
    }
    .tab_block,
    .tab_tick_list {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    #tabid1 h2,
    #tabid2 h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .digital_only_span {
        font-size: 22px;
        line-height: 24px;
    }
    .simply_best_header {
        font-size: 33px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .simply_the_best_checklist h3 {
        color: #596c7b;
    }
    .my_kids_exited_text h3 {
        font-size: 13px;
    }
    .home_faq_header h1 {
        font-size: 32px;
    }
    .home_faq_header h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .about_heading {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 14px;
        margin: 14px 0;
    }
    .about_list_header {
        margin-top: 10px;
        padding-bottom: 10px;
        color: #276bae;
    }
    .about_list .uavc-list li span {
        font-size: 16px !important;
        line-height: 19px !important;
    }
    .about_heading2 {
        font-size: 18px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 36px;
        line-height: 20px;
        margin-bottom: 17px;
    }
    .about_video_header p {
        font-size: 18px;
        line-height: 20px!important;
        text-align: left;
        line-height: 16px;
        margin-bottom: 14px!important;
        margin-top: 25px;
    }
    .about_video_row1 {
        margin-top: 20px;
    }
    .about_strong_no_gap {
        margin-bottom: 0px;
    }
    .shop-loop-before {
        margin-top: 2px;
    }
    .featured_prod_header {
        color: #ffffff;
        background-color: #276bae;
        padding: 6px;
        font-size: 20px;
        margin-bottom: 15px!important;
        margin-top: 15px;
    }
    .archive-products {
        margin-top: 20px;
    }
    /*two column products in a row*/
    /*shop*/
    .main-content {
        padding-top: 0px!important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .woocommerce-page .main-content {
        padding-top: 20px!important;
    }
    ul.pcols-ls-1 li.product,
    .column2 ul.pcols-ls-1 li.product,
    ul.pcols-ls-1 li.product-category,
    .column2 ul.pcols-ls-1 li.product-category {
        width: 50%;
        padding-left: .5%;
        padding-right: .5%;
    }
    ul.products li.product h3,
    ul.products li.product-category h3 {
        min-height: 65px;
    }
    /*two column products in a row ends*/
    .add-links .add_to_cart_button,
    .add-links .add_to_cart_read_more {
        padding-right: 0.2em;
        padding-left: 0.2em;
    }
    .product .product-image .inner {
        height: 139px;
    }
    .products-slider .product .product-image .inner {
        height: auto!important;
    }
    .app_header {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 15px!important;
    }
    .app_contents_text {
        padding-top: 18px;
    }
    .app_contents_text .vc_column_container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .app_header_btn .app_btn {
        padding-right: 11px;
    }
    .app_header_btn .wpb_single_image {
        padding-right: 11px;
    }
    .app_header_btn {
        margin-top: 15px;
        width: 90%!important;
    }
    .reading_pro_btn {
        padding-left: 0px!important;
    }
    .app_sliders {
        border: 10px solid white;
        border-bottom: 2px solid white;
        border-top: 20px solid white;
        background-color: white;
        margin: 15px 10px 15px 10px;
        width: 96%;
    }
    .app_sliders .vc_images_carousel .vc_carousel-indicators {
        text-align: right;
        right: 0px;
        left: initial;
    }
    .reading_pro_app_icons .app_icons {
        width: 120px;
        /* margin-left:1%; */
        /* margin-right:7%; */
    }
    .reading_pro_app_icons .app_icon1 {
        margin-bottom: 12px!important;
    }
    .reading_pro_app_icons .app_icons .vc_single_image-wrapper,
    .reading_pro_app_icons .app_icons {
        margin-bottom: 0px;
    }
    .apps_content ul {
        -webkit-padding-start: 20px;
    }
    .app_js_codes,
    .apps_content {
        width: 100%!important;
    }
    .app_js_codes {
        padding-top: 36px;
    }
    .awards_header {
        margin-bottom: 15px;
        color: #276bae;
        font-size: 25px;
        line-height: 27px;
    }
    .award_page_para {
        margin-bottom: 15px!important;
    }
    .award_row p {
        font-size: 14px;
        line-height: 20px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 18px;
        line-height: 20px;
    }
    .woocommerce .featured-box .box-content {
        margin-top: 15px;
    }
    #content .type-page {
        margin-top: 15px;
    }
    .whatis_page_header {
        font-size: 25px;
        margin-bottom: 25px!important;
        line-height: 27px;
    }
    .what_is_header1 {
        font-size: 18px;
        line-height: 20px!important;
        color: #276bae;
        margin-bottom: 4px;
    }
    .what_is_p3 {
        margin-top: 25px;
    }
    .what_is_section {
        margin-top: 16px;
    }
    #our_approach_to_phonics {
        margin-top: 36px!important;
    }
    .what_is_here_text {
        margin-top: 36px;
    }
    .what_is_p5 .wpb_single_image img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .what_is_p5new_last {
        padding-bottom: 36px;
        padding-top: 20px;
    }
    .whatis_page_header1 {
        font-size: 18px;
        line-height: 20px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3 {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 20px;
    }
    .what_is_list2 {
        margin-bottom: 0px!important;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 18px;
        line-height: 20px;
        color: #266bae;
        margin-bottom: 10px;
        margin-top: 36px;
    }
    .what_is_subheading1 h3 {
        font-size: 18px;
        line-height: 20px!important;
        color: #266bae;
        margin-top: 36px;
        margin-bottom: 10px!important;
    }
    .what_is_practice_img img {
        border: 1px solid #f3f3f3;
    }
    .what_is_p2 p {
        line-height: 20px;
        font-size: 14px;
    }
    .what_is_p3 p,
    .what_is_p4 p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .what_is_p4 .vc_column_container {
        margin-bottom: 20px;
    }
    .what_is_p4 .wpb_video_wrapper {
        width: 72%;
    }
    .what_is_p4 p {
        width: 72%;
    }
    .our_approach_list {
        margin-bottom: 36px!important;
    }
    .what_is_p9 h3 {
        font-size: 18px;
        line-height: 20px;
        color: #266bae;
        margin-bottom: 10px;
        margin-top: 36px;
    }
    .page-id-6074 .wpb_single_image img {
        width: 100%!important;
    }
    .what_is_p4 {
        margin-bottom: 15px!important;
    }
    .page-id-6074 .wpb_video_widget {
        padding-bottom: 15px;
        padding-top: 15px
    }
    div.wpb_single_image .vc_single_image-wrapper {
        margin-bottom: 10px;
    }
    .reviews_video p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 35px!important;
    }
    .faq_page_header {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 15px!important;
    }
    .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/yellow-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .faq_tagcloud {
        margin-top: 25px;
        top: 0px;
    }
    div#faq_heading {
        top: 0px !important;
    }
    .ewd-ufaq-post-margin-symbol span {
        display: none;
    }
    .ufaq-faq-title-text {
        padding: 12px 0;
    }
    div.ufaq-faq-title h4 {
        font-size: 18px;
        line-height: 20px;
        color: #5d6f7f!important;
    }
    .ufaq-faq-title {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
    }
    .ufaq-faq-body {
        padding-left: 37px;
    }
    .ewd-ufaq-post-active .ufaq-faq-title .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/orange-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .for_desktop {
        display: none!important;
    }
    .award_row .award1,
    .award_row .award2 {
        margin-bottom: 45px!important;
    }
    #last_award_row .award2 {
        margin-bottom: 0px!important;
    }
    .page-id-5967 .inner_page_content ol li {
        padding-bottom: 10px;
    }
    /*privacy*/
    .page ol ol {
        padding-left: 0px;
    }
    .page ol ol ul {
        padding-left: 20px!important;
    }
    .privacy_page_header {
        margin: 0 0 25px 0;
        font-size: 25px;
        line-height: 27px;
    }
    /* app page*/
    .ltr_app_icons .wpb_single_image:first-child {
        padding-bottom: 2px;
    }
    .ltr_app_icons .wpb_single_image {
        padding-bottom: 1px;
    }
    .app_header {
        color: #276bae;
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 15px!important;
    }
    /* app page ends*/
    /*global*/
    .main-content {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #footer .widget>div>ul li {
        padding-left: 0px;
        line-height: 15px;
    }
    #footer .widget-title,
    #footer h3 {
        font-size: 15px;
    }
    #footer p,
    #footer .widget>div>ul li,
    #footer .widget>ul li,
    .disclosure_p li {
        font-size: 13px;
    }
    .widget.widget_text li {
        font-size: 13px;
    }
    #footer .footer-bottom {
        font-size: 13px;
    }
    #footer .footer-bottom .footer-left:first-child {
        text-align: left;
        padding-bottom: 18.75px;
    }
    .page-top .page-title {
        font-size: 20px;
    }
    .page-top ul.breadcrumb li {
        font-size: 20px;
    }
    #header .mobile-toggle {
        float: right;
    }
    #desktop_try_img {
        display: none;
    }
    #mobile_try_image {
        /* padding-right: 25%;
        padding-left: 25%; */
        float: left;
    }
    .mobile-toggle .fa {
        font-size: 30px;
        color: white;
    }
    #header .header-main .container .header-left {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    #header_cart_price {
        display: none;
    }
    #mini-cart.minicart-inline .cart-head {
        background: url(/wp-content/uploads/2016/11/cart_mobile.png);
        background-repeat: no-repeat;
    }
    #mini-cart.minicart-inline .cart-head-bg {
        background: url(/wp-content/uploads/2016/11/cart-2.png) !important;
        background-repeat: no-repeat!important;
    }
    .single-product .main-content {
        padding-top: 0px!important;
    }
    .left-sidebar .widget_product_categories {
        display: none;
    }
    .term-description p {
        margin-bottom: 3px !important;
    }
    .woocommerce .featured-box .box-content {
        margin-top: 25px;
    }
    #content .type-page {
        margin-top: 25px;
    }
    .inner_page_content p {
        font-size: 14px;
        color: #4d606f;
        line-height: 20px!important;
        margin-bottom: 10px;
    }
    p,
    ol li,
    ul li {
        font-size: 14px;
        line-height: 20px!important;
    }
    .inner_page_content ol li,
    .inner_page_content ul li {
        color: #4d606f;
        line-height: 21px;
    }
    .testimonial.testimonial-style-5 blockquote {
        padding: 15px 0px 0px;
    }
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 14px;
        padding-left: 3px;
        line-height: 20px;
        margin-bottom: 12px!important;
    }
    .reviews_video p {
        margin-bottom: 30px!important;
    }
    .testimonial-title {
        font-size: 14px;
    }
    .reviews_video p {
        font-size: 14px;
        line-height: 16px;
    }
    .reviews_page_header h1 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px!important;
    }
    .awards_header {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 22px;
    }
    .awards_para1 {
        font-size: 16px;
        line-height: 18px;
    }
    .award_row p {
        font-size: 13px;
        line-height: 18px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 16px;
    }
    .award1 .vc_column_container:first-child,
    .award2 .vc_column_container:first-child {
        padding-right: 10px;
    }
    .award1 .vc_column_container:last-child,
    .award2 .vc_column_container:last-child {
        padding-left: 0px;
    }
    .award1 {
        padding-left: 10px!important;
    }
    .award2 {
        padding-left: 10px!important;
    }
    .single-post .navbar .navbar-nav {
        display: none;
    }
    .for_mobile {
        width: 100%;
        color: white;
        text-transform: uppercase;
        background: url("/wp-content/uploads/2016/12/arrow.png") no-repeat right #007fcc;
        -webkit-appearance: none !important;
        color: white;
        font-family: roboto medium;
        padding-left: 5px;
        background-position: right 10px top 9px;
    }
    .for_desktop {
        display: none;
    }
    .right-sidebar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    article.post h2 a {
        font-size: 20px;
    }
    article.post h2 {
        font-size: 22px;
        line-height: 24px!important;
    }
    .blog-posts .col-sm-5,
    .blog-posts .col-sm-5 .post-image.img-thumbnail .inner {
        padding-left: 0px;
        padding-right: 0px;
    }
    .category .blog-posts .img-thumbnail {
        width: 65%;
        float: left;
        /* margin-left: 10px; */
    }
    .category .blog-posts .owl-height {
        height: auto!important;
    }
    .blog-posts article div .col-sm-7 {
        padding-left: 0px!important;
    }
    .blog-posts article:first-child>.row div {
        width: 100%!important;
    }
    .blog-posts article:first-child>.row div img {
        width: 97%!important;
    }
    .blog-posts article {
        margin-bottom: 20px!important;
    }
    .blog-posts article div .col-sm-12 {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .app_icons {
        width: 126px;
        float: left;
        margin-right: 8px;
    }
    .app_icons:first-child {
        width: 100px;
        padding-top: 2px;
        margin-left: 0px;
    }
    .app_icons:nth-child(2) {
        margin-top: 6px;
    }
    .ltr_app_icons .app_icons:nth-child(2),
    .ltr_app_icons .app_icons:nth-child(3) {
        margin-top: 4px;
    }
    .app_icons:nth-child(3) {
        margin-top: 12px;
    }
    .page-id-5985 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-id-7032 .main-content,
    .page-id-7043 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-id-6013 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .reading_pro_app_icons .app_icons:first-child {
        margin-bottom: 15px!important;
    }
    .ltr_app_icons {
        padding-top: 15px;
    }
    .inner_page_content .cust_service_ul {
        margin-top: 15px;
    }
    /* Custom product mobile*/
    .custom_product_complete h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
    }
    .custom_product_complete p {
        font-family: roboto regular;
        color: #4d606f;
        font-size: 14px;
    }
    .custom_product_complete .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .custom_product_digital h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
        line-height: 29px;
    }
    .custom_product_digital p {
        font-family: roboto bold;
        color: #4d606f;
        font-size: 14px;
        line-height: 20px
    }
    .custom_product_digital .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    /* Custom product mobile ends*/
    .testVideo .vc_column_container {
        width: 50%;
        float: left;
    }
    .videoText {
        font-size: 14px;
        line-height: 17px!important;
        margin-top: 8px;
    }
    .home_what_is h1 {
        line-height: 25p !important;
    }
    .home_page_header h1 {
        font-size: 33px;
        line-height: 33px;
        margin: 20px 0 20px;
    }
    .home_page_header p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 12px !important;
    }
    .incredibly_fun_text2 {
        padding-right: 100px !important;
        padding-left: 100px !important;
    }
    .testVideo,
    .vc_custom_1478685754574 {
        padding-top: 10px !important;
        /*width: 115% ; */
    }
    .testimonial p {
        font-size: 14px !important;
        margin-bottom: 0px;
    }
    /*
	.wpb_single_image img{
		max-width:72% !important;
	}
	*/
    .wpb_single_image img {
        max-width: 100% !important;
    }
    .vc_custom_1474615767191 {
        padding-bottom: 3px !important;
    }
    .vc_custom_1474615767191 {
        padding-bottom: 10px !important;
    }
    .home_what_is_phonics h1 {
        font-size: 22px;
        margin: 0px;
        line-height: 25px;
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .phonic_img div.wpb_single_image .vc_single_image-wrapper {
        margin-bottom: 0px;
    }
    .home_what_is {
        width: 60% !important;
        padding-right: 30px !important;
    }
    .phonic_img {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .home_our_approach {
        width: 60% !important;
        padding-right: 30px!important;
    }
    .home_why_use {
        padding-left: 30px!important;
    }
    .home_what_is_phonics {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .how_prog_works_header {
        margin: 0px !important;
        font-size: 30px;
        line-height: 30px !important;
        margin-top: 30px!important;
        margin-bottom: 8px!important;
    }
    .center span {
        font-size: 13px !important;
        line-height: 18px;
    }
    .home_four_blocks p {
        font-size: 13px !important;
        line-height: 17px;
    }
    .home_learn_text,
    .home_celebrate_text {
        margin-bottom: 0px !important;
    }
    .eight_level_prog_text h2 {
        font-size: 33px;
        line-height: 38px;
        margin: 30px 0 15px 0;
    }
    .eight_level_prog_text p {
        font-size: 16px !important;
        line-height: 21px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .eight_level_chart {
        margin-bottom: 10px;
    }
    .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li {
        margin-bottom: 0px !important;
    }
    .buy_complete_kit h2,
    .special_comlete_kit h2 {
        font-size: 19px !important;
        line-height: 20px !important;
    }
    .buy_complete_kit p span,
    .special_comlete_kit p span {
        font-size: 16px !important;
        line-height: 17px !important;
    }
    .buy_complete_kit {
        border-right: 1px dashed gray;
        width: 40%;
        float: left;
        margin-left: 9%;
    }
    .special_comlete_kit {
        width: 47%;
        float: left;
        margin-left: 2%;
    }
    .home_four_blocks video {
        max-width: 96% !important;
    }
    .simply_tick_list h3 {
        font-size: 23px !important;
        line-height: 18px !important;
        margin: 0px !important;
    }
    .simply_tick_list img {
        width: auto !important;
        /* max-width: 80%;
	    height: auto; */
    }
    .simply_tick_list {
        margin-bottom: 10px !important;
    }
    .simply_best_text p {
        margin: 0;
        display: inline;
        padding-bottom: 15px;
    }
    .simply_best_text {
        text-align: center !important;
    }
    .simply_the_best_text {
        padding-bottom: 0px !important;
    }
    .the_boldest_text h3 {
        font-size: 22px !important;
        line-height: 22px !important;
        margin: 20px 0 10px 0 !important;
    }
    .the_boldest_text h1 {
        font-size: 33px !important;
        line-height: 35px !important;
        padding-bottom: 15px !important;
    }
    .the_boldest_text img {
        max-width: 100% !important;
    }
    .my_kids_exited_text h2 {
        line-height: 25px !important;
        font-size: 22px;
        margin: 0px 0px 1px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .joe_alexa_text {
        font-size: 15px;
        line-height: 15px!important;
        margin-bottom: 20px!important;
        margin-top: 10px!important;
    }
    .home_faq_header_text {
        font-size: 33px !important;
        margin: 35px 0 0 0;
    }
    .home_faq_header1 {
        font-size: 16px !important;
        padding: 10px 0 20px 0;
        line-height: 16px!important;
    }
    .lifetime_digital_only h2,
    .year_digital_only h2,
    .month_digital_only h2 {
        font-size: 19px !important;
        line-height: 20px !important;
    }
    .digital_only_span span {
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .digital_only_span {
        font-size: 16px !important;
        line-height: 18px !important;
    }
    #tabid1 .complete_kit_span {
        font-size: 16px !important;
    }
    .year_digital_only,
    .month_digital_only,
    .lifetime_digital_only {
        padding-bottom: 11px !important;
        width: 33%;
        float: left;
    }
    .tab_block p {
        font-size: 15px !important;
        line-height: 22px !important;
    }
    .page-faqs label p {
        font-size: 15px !important;
        vertical-align: middle;
        display: table-cell;
    }
    ol>li {
        font-size: 13px !important;
    }
    .page-faqs p br {
        display: none !important;
        line-height: 23px !important;
    }
    .testiPara {
        padding-left: 0px;
    }
    .customer_review img {
        /* width: 40% !important; */
    }
    .home_what_is_phonics p {
        font-size: 14px;
        line-height: 20px;
    }
    .home_four_blocks {
        margin-bottom: 0px !important;
        margin-top: 20px;
        width: 90%;
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .the_complete_header,
    .two_ways_text {
        font-size: 33px !important;
        line-height: 36px !important;
    }
    .the_complete_header {
        margin: 20px 0 0 0;
    }
    .two_ways_text {
        padding-bottom: 15px;
    }
    .complete_subscribe img {
        /* width: 50% !important; */
        padding-top: 15px;
    }
    .home_faq_button {
        margin-top: 20px;
    }
    .main-content {
        padding-bottom: 45px !important;
    }
    .toggle>label:before {
        content: url("/wp-content/uploads/2016/11/faq_arrow_2.png")!important;
        border: none;
        right: 0;
        top: 0;
    }
    .toggle.active>label:before {
        /*border: 14px solid transparent;
	    border-top-color: #ff9219;
	    margin-top: 5px;
		margin-right: 5px;*/
        border: 0;
        content: url("/wp-content/uploads/2016/11/faq_arow_2.png")!important;
        right: 0;
        top: 0;
    }
    .faq_header {
        margin-bottom: 7px;
        padding: 0px 0px 0px 2%;
        font-size: 16px!important;
        line-height: 20px;
        max-height: 45px;
        min-height: 45px;
        width: 100%;
    }
    .home_blue_icon wpb_wrapper,
    .home_blue_icon {
        text-align: center!important;
    }
    .learncolumn,
    .practicecolumn {
        /* min-height:415px;
		max-height:415px; */
        border: 2px solid white;
    }
    .readcolumn,
    .celebratecolumn {
        /* max-height:439px;
		min-height:439px; */
        border: 2px solid white;
    }
    .readcolumn {
        padding-bottom: 12px;
    }
    section.toggle label,
    .toggle>label:hover {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
        height: 45px;
    }
    section.toggle.active>label {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
    }
    .toggle.active>label::before {
        margin-top: 0px;
    }
    .home_faq_button {
        margin-top: 20px;
    }
    .learncolumn {
        padding-bottom: 11px !important;
    }
    /*codes by Arshid*/
    .cat-top-box {
        padding: 0 15px 0 15px;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .cat-box-wrap h1 {
        padding: 0;
        /* width: 60%; */
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 0px;
        /*   float: left; */
        margin-top: 15px;
    }
    .cat-box-wrap .cat-txt {
        width: 65%;
        font-size: 15px;
    }
    .cat-top-box .ct-img,
    .cat-top-box .box-img,
    .cat-top-box .box-img {
        width: 40%;
        float: right;
    }
    .cat-top-box .box-first-top {
        margin-top: 0px;
    }
    .cat-top-box .cat-box-wrap .cat-second {
        width: 60%;
    }
    .cat-top-box .box-second {
        width: 35%;
        float: right;
    }
    .cat-top-box .prod_cat_left {
        width: 60%;
        float: left;
    }
    .cat-top-box .txt-kind {
        /* width:50%;
	float:left; */
        padding-bottom: 12px;
    }
    .cat-top-box .box-first {
        width: 35%;
        float: right;
    }
    .cat-top-box .box-img {
        margin-top: 0px;
    }
    /*codes by Arshid ends */
    .boottabs li a {
        font-size: 24px;
        line-height: 24px;
        height: 50px;
    }
    .boottabs li.active:last-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: #106fbc transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .boottabs li.active:first-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: #ff9419 transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    #tabid1 .tab_content,
    #tabid2 .tab_content {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    .boottabs {
        width: 96%!important;
    }
    .tab_tick_list .aio-icon-img .img-icon {
        width: 22px!important;
    }
    .simply_the_best_checklist .aio-icon-img {
        font-size: 26px!important;
    }
    .simply_best_text p {
        font-size: 16px;
        line-height: 25px;
    }
    .award_btn {
        padding: 30px 0 30px 0;
    }
    .desktop_award_logo {
        padding-top: 20px!important;
    }
    #tabid1 .tab_content {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    #tabid2 .tab_content {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .home_subscribe_row {
        margin-left: auto!important;
    }
    #footer>.container {
        padding-top: 20px;
    }
    #tag_cloud-3 {
        margin-top: 20px!important;
    }
    .shop-loop-before .woocommerce-ordering {
        float: right!important;
        margin-right: 100px!important;
    }
    .icon_text .vc_col-xs-4 {
        width: 30%;
    }
    .icon_text .vc_col-xs-4:first-child {
        margin-left: 7%;
    }
    .home_learn_text p {
        margin-bottom: 0px!important;
    }
    .simply_l2 {
        padding-left: 0px!important;
    }
    .money_back_img .wpb_single_image img {
        width: 90%;
    }
    #what_is_mobile_image {
        display: none;
    }
    .summary-before {
        margin-left: 0px;
    }
    .entry-summary .product_title {
        display: none;
    }
    .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-left: 3px;
        padding-top: 2em;
        font-style: normal;
        font-family: roboto bold;
        color: #4d6070;
    }
    #product-tab .tab-content p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .resp-tabs-list li {
        font-size: 14px;
        line-height: 20px!important;
    }
    /*  .shop_category_menu{
	    padding-left: 10px;
    padding-right: 10px;
}  */
    .shop_category_menu select {
        height: 36px;
        width: 49.5%;
        margin-bottom: 20px;
    }
    .shop_category_menu select:last-child {
        float: right;
    }
    .category-filter .filter-toggle {
        display: none;
    }
    .what_is_learn,
    .what_is_read,
    .what_is_celebrate_txt,
    .what_is_practice_txt {
        font-size: 18px;
        line-height: 20px!important;
    }
    .what_is_read,
    .what_is_celebrate,
    .what_is_practice {
        margin-top: 26px;
    }
    .blog_menu {
        margin-top: 20px;
        min-height: 35px;
    }
    #footer .widget_text {
        margin-top: 20px;
    }
    .page-top.page-header-1 .page-title {
        padding-bottom: 1px;
        margin-bottom: -4px;
        border-bottom: 4px solid #0388cc;
        line-height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .woocommerce .page-top.page-header-1 .page-title {
        margin-right: 50px;
    }
    .list .pcols-ls-1 li.product,
    .column2 .list.pcols-ls-1 li.product {
        width: 100%!important;
    }
    .list.products li.product h3,
    .list.products li.product-category h3 {
        min-height: 0;
        font-size: 15px!important;
    }
    .quickview {
        background-color: #fff!important;
    }
    .list .product .product-image .inner {
        height: auto;
    }
    .what_is_practice {
        padding-bottom: 15px;
    }
    .app_slider .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
        margin-bottom: 60px;
    }
    .home_blue_icon p {
        line-height: 15px!important;
    }
    .home_blue_icon .vc_single_image-wrapper {
        margin-bottom: 0px!important;
    }
    .used_by_img img {
        padding-top: 8px;
    }
    #blue_icon_column {
        padding-top: 5px;
    }
    .page-id-6874 .shop_category_menu {
        padding-left: 10px;
        padding-right: 10px;
    }
    .list .product .description,
    .list .product .price,
    .list .product .add-links-wrap {
        padding-left: 30%!important;
        margin-left: 18px;
    }
    .carousal_img_description {
        font-size: 14px!important;
    }
    .ltr_app_icons {
        width: 450px;
        padding-top: 0px;
    }
    .reading_pro_app_icons {
        width: 300px;
    }
    .what_is_subheading h3 {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 20px;
    }
    .home_money_back {
        width: 430px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #2e6cae;
        padding: 15px 15px 20px;
    }
    .home_money_back h2 {
        font-family: roboto bold;
        font-size: 23px;
        line-height: 23px!important;
        color: #ff9300;
        margin-bottom: 5px!important;
    }
    .home_money_back p {
        font-family: roboto regular;
        font-size: 14px;
        line-height: 19px!important;
    }
    .home_money_back_outer {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        border: 1px solid #6790be;
        background-color: white;
    }
    .about_image img {
        width: 97%;
    }
    .icon_text p {
        font-size: 14px!important;
        line-height: 16px!important;
    }
    .money_back_img {
        margin-bottom: 15px!important;
    }
    .ms-sl-selected {
        height: 295px!important;
    }
    .ms-slide-bgcont img {
        height: 295px!important;
    }
    .ms-view {
        height: 295px!important;
    }
    .price del {
        font-size: 17px;
        color: #f15300;
        padding-right: 8px;
    }
    /* .ms-view,.ms-slide{
		height: 230px !important;
	} */
    .ms-slide-bgcont img {
        /* height: 230px !important;
	    margin-left: 0px !important;
	    margin-top: 0px !important; */
        /*width: 324px !important; */
        height: 100%;
    }
    .ms-anim-layers img {
        height: auto !important;
        padding: 0 !important;
        right: 0px !important;
        top: 70px !important;
        width: 415px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .ms-layer {
        width: 100%;
        left: 0px !important;
        top: 26px !important;
        text-align: center;
        line-height: 10px!important;
    }
}


/*simply the best.. block*/

@media only screen and (min-width: 481px) and (max-width: 560px) {
    .simply_the_best_checklist .vc_col-sm-5 .uavc-list {
        padding-left: 15px!important;
    }
    .learncolumn .learn-1 {
        padding-top: 10px;
    }
    .learncolumn,
    .practicecolumn {
        height: 375px;
    }
    .readcolumn,
    .celebratecolumn {
        height: 442px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 650px) {
    .simply_the_best_checklist .vc_col-sm-5 .uavc-list {
        padding-left: 40px!important;
    }
    .learncolumn,
    .practicecolumn {
        height: 375px;
    }
    .readcolumn,
    .celebratecolumn {
        height: 442px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 620px) {
    .learncolumn,
    .practicecolumn {
        height: 400px;
    }
    .readcolumn,
    .celebratecolumn {
        height: 442px;
    }
}

@media only screen and (min-width: 621px) and (max-width: 650px) {
    .learncolumn,
    .practicecolumn {
        height: 420px;
    }
    .learncolumn .learn-1 {
        padding-top: 7px;
    }
    .readcolumn,
    .celebratecolumn {
        height: 445px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 730px) {
    .simply_the_best_checklist .vc_col-sm-5 .uavc-list {
        padding-left: 60px!important;
    }
    .learncolumn,
    .practicecolumn {
        height: 450px;
    }
    .readcolumn,
    .celebratecolumn {
        height: 465px;
    }
}

@media only screen and (min-width: 731px) and (max-width: 767px) {
    .simply_the_best_checklist .vc_col-sm-5 .uavc-list {
        padding-left: 60px!important;
    }
    .home_four_blocks>div {
        height: 465px;
    }
}


/**slider **/

@media only screen and (min-width: 481px) and (max-width: 620px) {
    .newSlider1,
    .newSlider {
        font-size: 28px !important;
    }
    .newSlider1 {
        line-height: 28px;
    }
}

@media only screen and (min-width: 621px) and (max-width: 767px) {
    .newSlider1,
    .newSlider {
        font-size: 36px !important;
    }
    .newSlider1 {
        line-height: 36px;
    }
}