/* more than 991 */

@media only screen and (min-width: 991px) {
    .page #main .container:first-of-type {
        max-width: 1133px;
        width: 85%;
    }
    #main .container:first-of-type {
        /*max-width: 1133px;*/
        max-width: 100%;
    }
    #main-menu .mega-menu>li.menu-item>a:active {
        color: #f15300!important
    }
    .faq_left_header {
        margin-bottom: 5px!important;
    }
    .faq_tags_desktop {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .copyright_footer {
        width: 66%;
        position: absolute;
        bottom: 83px;
        right: 0;
        text-align: center;
        font-weight: 400!important;
    }
    .eight_level_prog_text {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    /* app page*/
    .app_header_btn {
        padding: 0 0 26px 0px;
    }
    .ltr_app_icons .wpb_single_image:first-child {
        padding-bottom: 15px;
    }
    .ltr_app_icons .wpb_single_image {
        padding-bottom: 8px;
    }
    .reading_pro_app_icons {
        margin-top: 7%;
    }
    /* app page ends*/
    .page-id-6874 .left-sidebar {
        padding-top: 15px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    /* global */
    #footer>.container {
        padding-top: 45px;
        width: 85%;
        max-width: 1133px;
    }
    #footer .widget-title,
    #footer h3 {
        font-size: 20px;
    }
    #footer p,
    #footer .widget>div>ul li,
    #footer .widget>ul li,
    .disclosure_p li {
        font-size: 14px;
    }
    .widget.widget_text li {
        font-size: 14px;
    }
    #footer .footer-bottom {
        font-size: 14px;
    }
    #footer .footer-bottom .footer-left:first-child {
        text-align: center;
        padding-bottom: 25px;
    }
    #mini-cart.minicart-inline .cart-head {
        padding: 0 35px 0 35px;
    }
    #header_cart_price {
        color: white;
        position: absolute;
        padding-left: 13px;
    }
    #mobile_try_image {
        display: none;
    }
    #header .header-main .container .header-center,
    #header .header-main .container .header-left,
    #header .header-main .container .header-right {
        padding: 0px!important;
    }
    #mini-cart.minicart-inline .cart-head {
        background-image: url(/wp-content/uploads/2016/11/CART.png) !important;
        background-repeat: no-repeat;
        background-position: 5px 4px;
        background-color: #0080cc;
        width: 88%;
        border-radius: 5px;
    }
    #mini-cart.minicart-inline .cart-head-bg {
        background-image: url(/wp-content/uploads/2016/11/CART.png) !important;
        background-repeat: no-repeat!important;
        background-position: 5px 4px;
        background-color: #f15300;
        width: 88%;
        border-radius: 5px;
    }
    .column2-left-sidebar {
        max-width: 1133px;
        width: 85%;
    }
    .main-content {
        padding-top: 0px!important;
    }
    .woocommerce-page .main-content {
        padding-top: 30px!important;
    }
    .single-product .main-content {
        padding-top: 0px!important;
    }
    .woocommerce .featured-box .box-content {
        margin-top: 25px;
    }
    #content .type-page {
        margin-top: 25px;
    }
    .page ol ol {
        padding-left: 0px;
    }
    .page ol ol ul {
        padding-left: 30px!important;
    }
    .inner_page_content ol li,
    .inner_page_content ul li {
        color: #4d606f;
    }
    .award_page_para {
        margin-bottom: 30px!important;
    }
    .award1 .vc_column_container:first-child,
    .award2 .vc_column_container:first-child {
        padding-left: 0px;
        padding-right: 0px;
    }
    .award1 {
        padding-right: 65px!important;
    }
    .award2 {
        padding-left: 65px!important;
    }
    .home_what_is_phonics h1 {
        margin: 4% 0 2px 0;
    }
    .for_mobile {
        display: none;
    }
    .blog_nav ul li a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /* single blog page */
    body.single-post article.post .single_blog_title {
        font-size: 31.7px;
        margin: 18px 0 14px 0;
        line-height: 35px;
    }
    body.single-post article.post .single_blog_category a {
        font-size: 15.98px;
    }
    .rt-tpg-container .layout2 .rt-holder .rt-detail h2 {
        font-size: 20px;
        line-height: 27px;
    }
    article.post h2 {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 27px;
    }
    .blog-posts {
        margin-top: 20px;
    }
    .vc-gitem-zone-height-mode-auto:before {
        padding-top: 40%;
    }
    .vc_grid-filter.vc_grid-filter-default>.vc_grid-filter-item {
        border-radius: 4px;
    }
    article.post-full,
    article.post-large {
        margin-left: 0px;
    }
    article.post-large .post-image {
        margin-left: 0px;
    }
    /* hr.tall{
	margin: 5px 0;
} */
    .term-description p {
        margin-bottom: 3px !important;
    }
    .single-post .main-content #content {
        width: 96%;
    }
    .category .main-content #content {
        width: 96%;
    }
    .right-sidebar .widget {
        margin-top: 0px!important;
        margin-bottom: 0px !important;
    }
    .right-sidebar #tag_cloud-3 {
        margin-bottom: 20px !important;
        margin-top: 20px!important;
    }
    /* .blog-1 .main-content{
	padding-left:0px;
	padding-right:0px;
} */
    .buy_complete_kit {
        border-right: 1px dashed gray;
    }
    .award_logo_mobile {
        display: none;
    }
    .app_icons {
        text-align: center!important;
    }
    .app_header_btn .vc_column_container {
        width: 250px;
    }
    .app_contents_text {
        padding-top: 25px;
    }
    .reading_pro_btn {
        padding-left: 0px!important;
    }
    .app_contents_text .vc_column_container:first-child {
        padding-left: 0px!important;
    }
    .app_sliders {
        border: 10px solid white;
        border-bottom: 2px solid white;
        border-top: 20px solid white;
        background-color: white;
        margin: 15px 30px 15px 15px;
    }
    .app_sliders .vc_images_carousel ol.vc_carousel-indicators {
        margin: 0px 0 -13px 11%!important;
    }
    .page-id-5985 .apps_content ul,
    .page-id-6013 .apps_content ul {
        -webkit-padding-start: 22px;
    }
    .reading_pro_app_icons .apps_icon {
        margin-bottom: 0px!important;
    }
    .reading_pro_app_icons .wpb_content_element {
        margin-bottom: 0px!important;
    }
    .ltr_app_icons {
        padding-top: 15px;
    }
    .page-id-6013 .vc_row,
    .page-id-5985 .vc_row,
    .page-id-7043 .vc_row,
    .page-id-7032 .vc_row {
        margin-left: 0px;
        margin-right: 0px;
    }
    /*what is page */
    .what_is_p2 h3,
    .what_is_p3 h3,
    .what_is_p4 h3,
    .what_is_subheading h3 {
        color: #266bae;
    }
    .what_is_p4 .pb_video_widget {
        margin-bottom: 10px;
    }
    .what_is_p3 {
        margin-top: 15px;
    }
    .what_is_p4 p {
        font-size: 15px;
    }
    .what_is_p9 h3 {
        color: #266bae;
        margin-bottom: 10px;
    }
    .what_is_list2 {
        margin-bottom: 0px!important;
    }
    .what_is_read,
    .what_is_celebrate {
        margin-bottom: 0px!important;
    }
    .what_is_row {
        margin-top: 30px;
    }
    .our_approach_list ul li {
        margin-bottom: 13px!important;
    }
    /*what is page ends*/
    /*faq page*/
    .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/yellow-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
        margin-left: 5px;
    }
    .ewd-ufaq-post-margin-symbol span {
        display: none;
    }
    .ufaq-faq-title-text {
        padding: 12px 0;
    }
    .ufaq-faq-title {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
    }
    .ufaq-faq-body {
        /*padding-left: 105px;*/
    }
    .ewd-ufaq-post-active .ufaq-faq-title .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/orange-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .faq_tagcloud {
        margin-bottom: 25px;
    }
    /*faq page ends*/
    /*custom product page*/
    .custom_product_complete h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
    }
    .custom_product_complete p {
        font-family: roboto bold;
        color: #4d606f;
        font-size: 17.99px;
    }
    .custom_product_complete .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .custom_product_digital h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
        line-height: 29px;
    }
    .custom_product_digital p {
        font-family: roboto regular;
        color: #4d606f;
        font-size: 15px;
        line-height: 20px;
    }
    .custom_product_digital .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .postid-6789 .woocommerce-page .main-content,
    .postid-6789 .woocommerce-page .main-content {
        padding-top: 0px!important;
    }
    .award_row {
        margin-bottom: 55px!important;
    }
    .award_row:last-child {
        margin-bottom: 0px!important;
    }
    .featured_prod_header {
        color: #ffffff;
        background-color: #276bae;
        padding: 10px;
        font-size: 23.97px;
        margin-bottom: 16px!important;
        margin-top: 24px;
    }
    .inner_page_content .cust_service_ul {
        margin-top: 20px;
    }
    #about_video_row1 {
        margin-top: 35px;
    }
    .about_list_header {
        margin-bottom: 16px;
    }
    .about_strong_no_gap {
        margin-bottom: 0px;
    }
    .about_video_header {
        margin-bottom: 23px;
        margin-top: 30px;
    }
    .about_italic_p {
        font-size: 20px;
        width: 78%;
        line-height: 28px!important;
    }
    .about_image {
        margin-bottom: 20px!important;
    }
    .as_dan_text {
        margin-top: 30px;
    }
    .blog-posts article:first-child>.row div {
        width: 100%!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .blog-posts article:first-child>.row div img {
        width: 97%!important;
    }
    .blog-posts article div .col-sm-12 {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .blog-posts article div .col-sm-5 {
        padding-left: 0px!important;
        padding-right: 0px!important;
        width: 38%;
    }
    .blog-posts article div .col-sm-7 {
        padding-right: 0px!important;
    }
    .blog-posts article:first-child>.row div .post-image.single {
        margin-bottom: 20px!important;
    }
    .blog-posts .right-sidebar {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .category #main .container:first-of-type {
        padding-left: 0px;
        padding-right: 0px;
    }
    .page-id-5967 .inner_page_content ol li {
        padding-bottom: 15px;
    }
    /*hamburger menu */
    #header .mobile-toggle {
        display: block;
        width: 40px;
        float: right;
        margin-top: 20px;
    }
    #header .mobile-toggle .fa {
        font-size: 28px;
        color: #fff;
    }
    #header.header-10 .header-main.sticky .header-right-top {
        display: block;
    }
    /* hamburger menu ends */
    /*codes by nandish*/
    .what_is_p4 .wpb_video_wrapper {
        width: 78%;
        /* margin-left:auto; */
        margin-right: auto;
    }
    .what_is_p4 p {
        width: 78%;
        /* margin-left:auto; */
        margin-right: auto;
    }
    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .tab_tick_list {
        padding-left: 20px;
    }
    .tab_block {
        padding-left: 65px;
    }
    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .readcolumn {
        padding-bottom: 10px !important;
    }
    .celebratecolumn {
        padding-bottom: 24px !important;
    }
    .learncolumn {
        padding-bottom: 5px !important;
    }
    .home_learn_text,
    .home_practice_text,
    .home_celebrate_text {
        min-height: 80px !important;
        margin-bottom: 20px !important;
    }
    .home_read_text {
        min-height: 80px !important;
        margin-bottom: 0px !important;
    }
    .phonicarrow {
        margin-top: 15px;
        padding-bottom: 0px;
    }
    .what_is_list2 {
        padding-left: 30px;
    }
    .what_is_learn,
    .what_is_learn_video,
    .what_is_read,
    .what_is_list2,
    .read-img-new,
    .read-video-new {
        padding-right: 50px !important;
    }
    .what_is_practice,
    .what_is_practice_img,
    .what_is_celebrate,
    .what_is_celebrate_img {
        padding-left: 50px;
    }
    .what_is_p5new_last {
        margin-top: 20px !important;
    }
    .phonicdiduknow {
        font-size: 20px;
    }
    .kidsmain {
        margin-bottom: 10px !important;
    }
    .toddler,
    .oncebehind,
    .poorreading {
        padding-right: 30px !important;
    }
    .oncebehindheading {
        margin-right: 34px !important;
    }
    .yourchildreads {
        font-family: roboto medium;
    }
    .read-img-new {
        margin-bottom: 15px !important;
    }
    .why_use_phonics {
        margin-bottom: 0px !important;
    }
    .what_is_learn p:first-of-type {
        margin: 0 0 7px !important;
    }
    .what_is_practice p:first-of-type {
        margin: 0 0 7px !important;
    }
    .what_is_read p:first-of-type {
        margin: 0 0 7px !important;
    }
    .what_is_celebrate p:first-of-type {
        margin: 0 0 7px !important;
    }
    .toggle.active>label::before {
        margin-top: 0px;
    }
    /* codes by nandish ends*/
}

.widget_product_categories>ul {
    padding-left: 0px;
    padding-right: 0px;
}