/* SCREEN LESS THAN 480pixels*/

@media only screen and (max-width: 480px) {
    #header.sticky-header .logo {
        display: block;
    }
    #header .mobile-toggle {
        right: 5px!important;
        left: auto;
        padding-top: 5px;
    }
    .main-content {
        padding-bottom: 58px;
    }
    #header .logo {
        position: absolute;
        left: 0;
        top: 25px;
        max-width: 100px!important;
    }
    .page-id-5823 #header .logo {
        top: 15px!important;
    }
    #header .logo a {
        width: 55%;
        float: left;
        padding-left: 10px;
    }
    #mini-cart.minicart-inline .cart-head {
        background: url("/wp-content/uploads/2016/09/mobile_cart.png");
        background-repeat: no-repeat;
    }
    #header #mini-cart {
        margin-right: 26px;
    }
    .testimonial-title,
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 15px;
    }
    .how_the_prog_works_para {
        font-size: 15px;
        line-height: 20px!important;
    }
    .home_page_header h2 {
        line-height: 30px;
        font-size: 27px;
    }
    #tabid1 h2,
    #tabid2 h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .tab_block,
    .tab_tick_list {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .home_subscribe_btn {
        padding-bottom: 10px!important;
    }
    .digital_only_span {
        font-size: 17px;
        line-height: 24px;
    }
    .simply_best_header {
        font-size: 27px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .simply_the_best_checklist h3 {
        font-size: 23px;
        color: #596c7b;
    }
    .my_kids_exited_text h3 {
        font-size: 13px;
    }
    .home_faq_header h1 {
        font-size: 32px;
    }
    .home_faq_header h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .privacy_page_header {
        margin-bottom: 15px;
        font-size: 23px;
        line-height: 25px;
    }
    .inner_page_content p {
        font-size: 13px;
        color: #4d606f;
        line-height: 18px!important;
        margin-bottom: 10px;
    }
    .inner_page_content ol li,
    .inner_page_content ul li {
        font-size: 13px;
        color: #4d606f;
        line-height: 18px;
    }
    .inner_page_content p a {
        text-decoration: underline;
    }
    .about_page_content1 p {
        font-size: 13px;
        line-height: 18px!important;
    }
    .about_heading {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 14px;
        margin: 14px 0;
    }
    .about_list_header {
        margin-top: 10px;
        padding-bottom: 10px!important;
        color: #276bae;
    }
    .about_list .uavc-list li span {
        font-size: 15px !important;
        line-height: 18px !important;
    }
    .about_heading2 {
        font-size: 17px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 36px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .about_video_header p {
        font-size: 17px;
        text-align: left;
        line-height: 20px;
        margin-bottom: 13px!important;
        margin-top: 25px;
    }
    .about_video_row1 {
        margin-top: 20px;
    }
    .about_strong_no_gap {
        margin-bottom: 0px;
    }
    .digital_success p {
        font-size: 13px;
        line-height: 18px!important;
    }
    .shop-loop-before {
        margin-top: 2px;
    }
    .featured_prod_header {
        color: #ffffff;
        background-color: #276bae;
        padding: 6px;
        font-size: 18.97px;
        margin-bottom: 15px!important;
        margin-top: 15px;
    }
    .archive-products {
        margin-top: 20px;
    }
    .category_description_ul {
        -webkit-padding-start: 25px;
    }
    .category_description_ul li {
        line-height: 20px;
    }
    .term-description p {
        margin-bottom: 3px !important;
    }
    .award_page_para {
        margin-bottom: 15px!important;
    }
    /*two column products in a row*/
    /*shop*/
    .main-content {
        padding-top: 0px!important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .woocommerce-page .main-content {
        padding-top: 20px!important;
    }
    .single-product .main-content {
        padding-top: 0px!important;
    }
    ul.pcols-ls-1 li.product,
    .column2 ul.pcols-ls-1 li.product,
    ul.pcols-ls-1 li.product-category,
    .column2 ul.pcols-ls-1 li.product-category {
        width: 49%;
        padding-left: .5%;
        padding-right: .5%;
    }
    ul.products li.product h3,
    ul.products li.product-category h3 {
        min-height: 65px;
    }
    .left-sidebar .widget_product_categories {
        display: none;
        /* margin-top:20px; */
    }
    /*two column products in a row ends*/
    .add-links .add_to_cart_button,
    .add-links .add_to_cart_read_more {
        padding-right: 0.2em;
        padding-left: 0.2em;
    }
    .product .product-image .inner {
        height: 139px;
    }
    .products-slider .product .product-image .inner {
        height: auto!important;
    }
    .app_header {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 15px!important;
    }
    .app_contents_text {
        padding-top: 15px;
    }
    .reading_pro_btn {
        padding-left: 0px!important;
    }
    .app_contents_text .vc_column_container {
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-bottom: 20px;
    }
    .app_header_btn .app_btn {
        padding-right: 11px;
    }
    .app_header_btn .wpb_single_image {
        padding-right: 11px;
    }
    .app_header_btn {
        margin-top: 15px;
    }
    .app_sliders {
        border: 10px solid white;
        border-bottom: 2px solid white;
        border-top: 20px solid white;
        background-color: white;
        margin: 15px 10px 15px 10px;
        width: 90%;
    }
    .app_sliders .vc_images_carousel .vc_carousel-indicators {
        text-align: right;
        right: 0px;
        left: initial;
    }
    .reading_pro_app_icons .app_icons:nth-child(2),
    .reading_pro_app_icons .app_icons:nth-child(3) {
        width: 100px;
        margin-left: 4px;
    }
    /* .reading_pro_app_icons .app_icons:last-child{
		margin-right:25%;
	} */
    .reading_pro_app_icons {
        width: 300px;
    }
    .reading_pro_app_icons .app_icon1 {
        margin-bottom: 12px!important;
    }
    .reading_pro_app_icons .app_icons .vc_single_image-wrapper,
    .reading_pro_app_icons .app_icons {
        margin-bottom: 0px!important;
    }
    .reading_pro_app_icons .app_icons {
        margin-top: 0px;
    }
    .apps_content ul {
        -webkit-padding-start: 20px;
    }
    .awards_header {
        margin-bottom: 12px;
        font-size: 23px;
        line-height: 25px;
    }
    .award_row p {
        font-size: 13px;
        line-height: 18px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 17px;
        line-height: 20px;
    }
    .woocommerce .featured-box .box-content {
        margin-top: 15px;
    }
    #content .type-page {
        margin-top: 15px;
    }
    .whatis_page_header {
        /* margin: 15px 0; */
        font-size: 23px;
        line-height: 25px!important;
        margin-bottom: 20px!important;
    }
    .what_is_subheading h3 {
        font-size: 17px;
        line-height: 20px!important;
        font-family: roboto bold !important;
    }
    .whatis_page_header1 {
        margin: 0 0 8px !important;
        font-size: 17px;
        line-height: 20px!important;
        font-family: roboto bold !important;
        letter-spacing: 0px;
    }
    .what_is_header1 {
        font-size: 17px;
        margin-bottom: 4px;
        font-family: roboto bold;
        line-height: 20px!important;
    }
    .what_is_p3 {
        margin-top: 25px;
    }
    .what_is_section {
        margin-top: 16px;
    }
    .what_is_p5 .wpb_single_image img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .what_is_p5new_last {
        padding-bottom: 36px;
        padding-top: 20px;
    }
    #our_approach_to_phonics {
        margin-top: 36px!important;
    }
    .what_is_learn,
    .what_is_read,
    .what_is_celebrate_txt,
    .what_is_practice_txt {
        font-size: 17px;
        line-height: 20px!important;
    }
    .what_is_practice_img img {
        border: 1px solid #f3f3f3;
    }
    .what_is_p10 .uavc-list-icon-wrapper {
        margin-top: 10px;
    }
    .what_is_list2 {
        margin-bottom: 0px!important;
    }
    .what_is_read,
    .what_is_celebrate,
    .what_is_practice {
        margin-top: 26px;
    }
    .what_is_here_text {
        margin-top: 36px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3 {
        margin-bottom: 5px;
        font-size: 17px;
        line-height: 20px!important;
        font-family: roboto bold !important;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 17px;
        color: #266bae;
        font-family: roboto bold !important;
        margin-bottom: 10px;
        line-height: 20px!important;
        margin-top: 36px;
    }
    .what_is_subheading1 h3 {
        font-size: 17px;
        color: #266bae;
        margin-bottom: 10px!important;
        line-height: 20px!important;
        margin-top: 36px;
    }
    .what_is_p2 p {
        font-size: 13px;
        line-height: 19px!important;
    }
    .what_is_p3 p,
    .what_is_p4 p {
        font-size: 13px;
        line-height: 19px!important;
    }
    .what_is_p4 .vc_column_container {
        margin-bottom: 20px;
    }
    .what_is_p4 .wpb_video_wrapper {
        width: 79%;
    }
    .what_is_p4 p {
        width: 79%;
    }
    .page-id-6074 .wpb_video_widget {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .our_approach_list {
        margin-bottom: 36px!important;
        margin-top: 20px;
    }
    .what_is_p9 h3 {
        font-size: 17px;
        line-height: 20px!important;
        color: #266bae;
        margin-bottom: 7px;
        margin-top: 36px;
        font-family: roboto bold !important;
        line-height: normal;
    }
    div.wpb_single_image .vc_single_image-wrapper {
        margin-bottom: 10px;
    }
    .reviews_page_header h1 {
        margin-bottom: 20px!important;
        font-size: 23px;
        line-height: 25px;
    }
    .reviews_video p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 30px!important;
    }
    .reviws_page_header h1 {
        margin: 15px 0!important;
        color: #276bae!important;
        font-size: 27.26px!important;
    }
    .faq_page_header {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 13px!important;
    }
    .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/yellow-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .ewd-ufaq-post-margin-symbol span {
        display: none;
    }
    .ufaq-faq-title-text {
        float: left;
        width: 88%;
        padding: 12px 0;
    }
    div.ufaq-faq-title h4 {
        font-size: 17px;
        line-height: 20px;
        color: #5d6f7f!important;
    }
    .ufaq-faq-title {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
    }
    .ufaq-faq-body {
        padding-left: 37px;
    }
    .ewd-ufaq-post-active .ufaq-faq-title .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/orange-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .for_desktop {
        display: none!important;
    }
    .for_mobile {
        width: 100%;
        color: white;
        text-transform: uppercase;
        background: url("/wp-content/uploads/2016/12/arrow.png") no-repeat right #007fcc;
        -webkit-appearance: none !important;
        color: white;
        font-family: roboto medium;
        padding-left: 5px;
        background-position: right 10px top 9px;
    }
    /*privacy*/
    .page ol ol {
        padding-left: 0px;
    }
    .page ol ol ul {
        padding-left: 20px!important;
    }
    /* app page*/
    .page-id-5985 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-id-6013 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-id-7032 .main-content,
    .page-id-7043 .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* app page ends*/
    /*global  */
    #footer .widget>div>ul li {
        padding-left: 0px;
        line-height: 14px;
    }
    #footer .widget-title,
    #footer h3 {
        font-size: 13px;
    }
    #footer p,
    #footer .widget>div>ul li,
    #footer .widget>ul li,
    .disclosure_p li {
        font-size: 11px;
    }
    .widget.widget_text li {
        font-size: 11px;
    }
    #footer .footer-bottom {
        font-size: 11px;
    }
    #footer .footer-bottom .footer-left:first-child {
        text-align: left;
        padding-bottom: 18.75px;
    }
    .inner_page_content .cust_service_ul {
        margin-top: 14px;
    }
    .page-top .page-title {
        font-size: 18px;
    }
    .page-top ul.breadcrumb li {
        font-size: 18px;
    }
    .mobile-toggle .fa {
        font-size: 28px;
        color: white;
    }
    #header_cart_price {
        display: none;
    }
    #desktop_try_img {
        display: none;
    }
    #mobile_try_image {
        padding-left: 25%;
        padding-right: 25%;
    }
    #header .header-main .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #mini-cart.minicart-inline .cart-head {
        background: url(/wp-content/uploads/2016/11/cart_mobile.png);
        background-repeat: no-repeat;
    }
    #mini-cart.minicart-inline .cart-head-bg {
        background: url(/wp-content/uploads/2016/11/cart-2.png) !important;
        background-repeat: no-repeat!important;
    }
    p,
    ol li,
    ul li {
        font-size: 13px;
        line-height: 18px!important;
    }
    p {
        margin: 0 0 15px;
    }
    .app_icons:nth-child(2) {
        margin-top: 3px;
    }
    .app_icons:nth-child(3) {
        margin-top: 3px;
    }
    .reading_pro_app_icons .app_icons:nth-child(2) {
        margin-top: 0px;
    }
    .reading_pro_app_icons .app_icons:nth-child(2) {
        margin-top: 5px;
    }
    .testimonial.testimonial-style-5 blockquote {
        padding: 15px 0px;
    }
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 13px !important;
        padding-left: 3px;
        line-height: 1.5;
        margin-bottom: 10px!important;
    }
    .testimonial-title {
        font-size: 13px;
        line-height: 18px;
    }
    .award1 .vc_column_container:first-child,
    .award2 .vc_column_container:first-child {
        padding-right: 0px;
    }
    .award1,
    .award2 {
        padding-left: 10px!important;
    }
    .column2-right-sidebar {
        /* margin-top:15px; */
    }
    .column2-right-sidebar .navbar {
        min-height: 36px;
    }
    .single-post .navbar .navbar-nav {
        display: none;
    }
    .app_btn img {
        width: 100%!important;
    }
    .desktop_award_logo {
        display: none;
    }
    .app_icons {
        width: 33%;
        float: left;
        margin-right: 1%;
    }
    .app_icons:first-child {
        width: 25%;
        padding-top: 1px;
    }
    .reading_pro_app_icons .app_icons:first-child {
        margin-bottom: 10px!important;
        width: 80px;
        padding-top: 2px;
    }
    .app_icons .vc_single_image-wrapper {
        margin-bottom: 6px!important;
    }
    /* Custom product mobile*/
    .custom_product_complete h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
    }
    .custom_product_complete p {
        font-family: roboto regular;
        color: #4d606f;
        font-size: 15px;
    }
    .custom_product_complete .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .custom_product_digital h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
        line-height: 29px;
    }
    .custom_product_digital p {
        font-family: roboto bold;
        color: #4d606f;
        font-size: 15px;
        line-height: 20px
    }
    /* .custom_product_digital .custom_product_subscribe_btn a{
	margin-bottom:
	margin-top: 
} */
    /* Custom product mobile ends*/
    .award_row .award1,
    .award_row .award2 {
        margin-bottom: 45px!important;
    }
    #last_award_row .award2 {
        margin-bottom: 0px!important;
    }
    .award_row .award1 ul li,
    .award_row .award2 ul li {
        line-height: 19px;
    }
    .faq_tagcloud {
        margin-top: 25px;
        top: 0px;
    }
    div#faq_heading {
        top: 0px !important;
    }
    article.post h2 a {
        font-size: 17px;
    }
    article.post h2 {
        line-height: 22px!important;
        font-size: 17px;
    }
    .page-id-5967 .inner_page_content ol li {
        padding-bottom: 10px;
    }
    .category .blog-posts .img-thumbnail {
        width: 65%;
        float: left;
        /* margin-left: 10px; */
    }
    .category .blog-posts .owl-height {
        height: auto!important;
    }
    .blog-posts article:first-child>.row div {
        width: 100%!important;
    }
    .blog-posts article:first-child>.row div img {
        width: 97%!important;
    }
    .blog-posts article {
        margin-bottom: 20px!important;
    }
    .blog-posts article div .col-sm-12 {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    article.post .post-image.single {
        margin-bottom: 10px!important;
    }
    .blog-posts .owl-carousel {
        margin-bottom: 0px!important;
    }
    /* codes  by Nandish */
    .home_page_header h1 {
        font-size: 27px;
        line-height: 27px;
        margin: 20px 0 15px;
    }
    .home_page_header p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 8px !important;
    }
    .incredibly_fun_text2 {
        padding-right: 39px !important;
        padding-left: 38px !important;
    }
    .testVideo,
    .vc_custom_1478685754574 {
        padding-top: 10px !important;
        /* width: 115% ; */
    }
    .videoText {
        font-size: 13px !important;
        margin-bottom: 10px!important;
    }
    .testimonial p {
        font-size: 12px !important;
        margin-bottom: 0px;
    }
    /* .wpb_single_image img{
		max-width:72% !important;
	} */
    .review_btn_large img,
    .award_btn .wpb_single_image img,
    .home_faq_button img,
    .home_subscribe_btn img {
        max-width: 75% !important;
    }
    .vc_custom_1474615767191 {
        padding-bottom: 3px !important;
    }
    .vc_custom_1474615767191 {
        padding-bottom: 10px !important;
    }
    .home_what_is_phonics h1 {
        font-size: 17px;
        margin: 0px;
        line-height: 17px;
        margin-bottom: 3px;
    }
    .home_what_is_phonics p {
        font-size: 13px;
        line-height: 15px;
    }
    .home_what_is_phonics {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    .home_what_is {
        width: 60% !important;
        padding-right: 0px !important;
    }
    .phonic_img {
        padding-right: 0px !important;
        padding-left: 7px !important;
    }
    .phonic_img img {
        max-width: 100% !important;
        height: 95px !important;
    }
    .home_our_approach {
        width: 60% !important;
        padding-right: 0px !important;
    }
    .how_prog_works_header {
        margin: 20px 0 10px 0 !important;
        line-height: 20px !important;
        font-size: 27px;
    }
    .center span {
        font-size: 12px !important;
        line-height: 18px;
    }
    .home_four_blocks p {
        font-size: 13px !important;
        line-height: 17px;
    }
    .home_learn_text,
    .home_celebrate_text {
        margin-bottom: 0px !important;
    }
    .eight_level_prog_text h2 {
        font-size: 27px;
        line-height: 30px;
        margin: 25px 0 10px 0;
    }
    .eight_level_prog_text p {
        font-size: 15px !important;
        line-height: 18px;
    }
    .eight_level_chart {
        margin-bottom: 10px;
    }
    .the_complete_header,
    .two_ways_text {
        font-size: 27px;
        line-height: 30px !important;
    }
    .the_complete_header {
        margin: 10px 0 0 0;
    }
    .two_ways_text {
        padding-bottom: 10px;
    }
    .uavc-list li span {
        font-size: 13px !important;
        line-height: 18px !important;
    }
    .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li {
        margin-bottom: 0px !important;
    }
    .buy_complete_kit h2,
    .special_comlete_kit h2 {
        font-size: 22px !important;
        line-height: 22px !important;
    }
    .buy_complete_kit,
    .special_comlete_kit {
        padding-left: 20px !important;
    }
    .special_comlete_kit {
        padding-bottom: 10px !important;
        margin-top: 15px;
    }
    .home_four_blocks video {
        max-width: 96% !important;
    }
    .home_four_blocks {
        margin-top: 15px;
    }
    .simply_tick_list h3 {
        font-size: 18px !important;
        line-height: 18px !important;
        margin: 0px !important;
    }
    .simply_tick_list img {
        width: 22px !important;
    }
    .simply_tick_list {
        margin-bottom: 0px !important;
    }
    .simply_best_text {
        text-align: center !important;
    }
    .simply_the_best_text {
        padding-bottom: 0px !important;
    }
    .the_boldest_text h3 {
        font-size: 16px !important;
        line-height: 16px !important;
        margin: 15px 0 10px 0 !important;
    }
    .the_boldest_text h1 {
        font-size: 27px !important;
        line-height: 30px !important;
        padding-bottom: 10px !important;
    }
    .the_boldest_text h1 br {
        display: none;
    }
    .the_boldest_text img {
        max-width: 100% !important;
    }
    .my_kids_exited_text h2 {
        font-size: 16px;
        line-height: 20px !important;
        margin: 0px 0px 1px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .joe_alexa_text {
        margin-bottom: 15px!important;
    }
    .home_faq_header_text {
        font-size: 27px !important;
        padding-top: 20px !important;
        margin: 0 0 3px;
        line-height: 30px!important;
    }
    .home_faq_header1 {
        font-size: 13px !important;
        padding: 5px 0 15px 0;
        line-height: 16px!important;
    }
    .lifetime_digital_only h2,
    .year_digital_only h2,
    .month_digital_only h2 {
        font-size: 22px !important;
        line-height: 22px !important;
    }
    .digital_only_span span {
        font-size: 15px !important;
        line-height: 18px !important;
    }
    .digital_only_span {
        font-size: 15px !important;
        line-height: 18px !important;
    }
    #tabid1 .complete_kit_span {
        font-size: 15px !important;
    }
    .year_digital_only,
    .month_digital_only,
    .lifetime_digital_only {
        padding-bottom: 13px !important;
        padding-left: 20px !important;
    }
    .tab_block p {
        font-size: 13px !important;
        line-height: 17px !important;
    }
    .page-faqs p {
        font-size: 12px !important;
    }
    .page-faqs label p {
        vertical-align: middle;
        display: table-cell;
    }
    ol>li {
        font-size: 12px !important;
    }
    .page-faqs p br {
        display: none !important;
        line-height: 23px !important;
    }
    .blog-posts .col-sm-5,
    .blog-posts .col-sm-7 {
        padding-right: 0px;
        padding-left: 0px;
    }
    /*11/11/2016 code by nanDz */
    .post-6074 img {
        padding-right: 0px !important;
    }
    .what_is_p2 p {
        font-size: 12px !important;
        line-height: 18px!important;
        margin: 0px 0px 15px;
    }
    .boottabs li {
        display: inline-block;
        min-height: 55px;
    }
    .boottabs li:first-child {
        width: 60%!important;
    }
    .boottabs li:last-child {
        width: 40%!important;
    }
    .boottabs a {
        font-size: 18px;
        line-height: 55px !important;
    }
    .toggle>label:before {
        content: url("/wp-content/uploads/2016/09/1-arrow.png")!important;
        border: none;
        right: 0;
        top: 0;
    }
    .toggle.active>label:before {
        /*border: 14px solid transparent;
	    border-top-color: #ff9219;
	    margin-top: 5px;
		margin-right: 5px;*/
        border: 0;
        content: url("/wp-content/uploads/2016/09/faqarrow-1-50x50.png")!important;
        right: 0;
        top: 0;
    }
    section.toggle label,
    .toggle>label:hover {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
        height: 45px;
    }
    section.toggle.active>label {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
    }
    .faq_header {
        margin-bottom: 7px;
        padding: 0 0 0 10px;
        font-size: 13px!important;
        line-height: 20px!important;
        width: 100%;
    }
    .toggle.active>label:before {
        /*border: 14px solid transparent;
	    border-top-color: #ff9219;
	    margin-top: 5px;
		margin-right: 5px;*/
        border: 0;
        content: url("/wp-content/uploads/2016/09/1a.png")!important;
        right: 0;
        top: 0;
    }
    .toggle.active>label::before {
        margin-top: 0px !important;
    }
    .home_faq_button {
        margin-top: 10px !important;
    }
    .main-content {
        padding-bottom: 10px !important;
    }
    .learncolumn,
    .practicecolumn {
        /* min-height:365px; */
        /* max-height:365px; */
        /*min-height:380px; 
		 max-h*/
        eight: 380px;
        border: 2px solid white;
    }
    .readcolumn,
    .celebratecolumn {
        min-height: 414px;
        border: 2px solid white;
    }
    /*category description */
    .cat-top-box {
        padding: 0 0 0 10px;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .cat-box-wrap h1 {
        padding: 0;
        /* width: 50%; */
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 0px;
        /*  float: left; */
        padding-top: 10px;
    }
    .cat-box-wrap .cat-txt {
        width: 65%;
        font-size: 15px;
    }
    .cat-top-box .ct-img,
    .cat-top-box .box-img,
    .cat-top-box .box-img {
        width: 47%;
        float: right;
    }
    .cat-top-box .box-first-top {
        margin-top: 0px;
    }
    .cat-top-box .cat-box-wrap .cat-second {
        width: 53%;
    }
    .cat-top-box .box-second {
        width: 47%;
        float: right;
    }
    .cat-top-box .txt-kind {
        /* width:53%;
	float:left; */
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 12px;
    }
    .cat-top-box .box-first {
        /* width: 47%;
    float: right; */
    }
    .cat-top-box .prod_cat_left {
        width: 55%;
        float: left;
    }
    .cat-top-box .box-img {
        /* margin-top:20px; */
        position: relative;
        height: 135px;
        width: 45%;
        float: right;
    }
    .cat-top-box .box-img>img {
        position: absolute;
        bottom: 0px;
        /* width:135px; */
        height: 105px;
    }
    .term-description ul li {
        line-height: 18px;
    }
    /*category description ends */
    .boottabs li a {
        font-size: 19px;
        height: 70px;
    }
    .boottabs li.active:last-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: #106fbc transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .boottabs li.active:first-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: #ff9419 transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    #tabid1 .tab_content,
    #tabid2 .tab_content {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    .boottabs {
        width: 96%!important;
    }
    #tabid1 .tab_content,
    #tabid2 .tab_content {
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-bottom: 0px!important;
        margin-bottom: 15px!important;
    }
    .tab_tick_list .aio-icon-img .img-icon {
        width: 22px;
        float: right;
    }
    .tab_tick_list {
        margin-bottom: 10px!important;
    }
    .tab_tick_list .aio-icon-img .img-icon {
        width: 20px!important;
    }
    .simply_the_best_checklist .aio-icon-img {
        font-size: 24px!important;
    }
    .simply_best_text p {
        font-size: 15px;
        line-height: 23px;
    }
    .award_btn {
        padding: 0 0 15px 0;
    }
    .desktop_award_logo {
        padding-top: 20px!important;
    }
    #footer>.container {
        padding-top: 20px;
    }
    #nls_form_widget-2 {
        margin-top: 10px!important;
    }
    #text-4 {
        margin-bottom: 10px!important;
    }
    #content .post-5823 {
        margin-top: 0px!important;
    }
    .icon_text p {
        font-size: 12px!important;
        line-height: 15px!important;
    }
    .risk_free_img .home_blue_icon img {
        width: 52%;
        margin-left: 25%;
        margin-top: 3px;
    }
    .used_by_img .home_blue_icon img {
        width: 65%;
        margin-left: 15%;
        margin-top: 9%;
    }
    .fun_included_img .home_blue_icon img {
        width: 65%;
        margin-top: 5%;
        margin-left: 10%;
    }/*
    .fun_included_img .home_blue_icon img {
        display: table;
        margin: 5% auto 0;
        padding: 0 0 0 7px;
    }*/
    #blue_icon_column .home_blue_icon img {
        margin-left: 5.5vw;
        max-width: 66px;
        max-height: 47px;
    }
    .icon_text .vc_col-xs-4 {
        width: 30%;
    }
    .icon_text .vc_col-xs-4:first-child {
        margin-left: 7%;
    }
    .mobile_account_menu li a {
        text-transform: capitalize;
        font-family: roboto bold!important;
        font-size: 15px;
    }
    .mobile_account_menu li {
        margin: 1px 0 1px 2px;
        float: left;
        color: #fff;
    }
    .what_is_desktop_image .phonicarrow {
        display: none;
    }
    .entry-summary .product_title {
        display: none;
    }
    .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-left: 3px;
        padding-top: 2em;
        font-style: normal;
        font-family: roboto bold;
        color: #4d6070;
    }
    #product-tab .tab-content p {
        font-size: 13px;
        line-height: 19px!important;
    }
    .resp-tabs-list li {
        font-size: 13px;
        line-height: 19px!important;
    }
    .right-sidebar {
        margin-top: 0px;
    }
    /* .shop_category_menu{
	    padding-left: 10px;
    padding-right: 10px;
}  */
    .shop_category_menu select {
        height: 32px;
        width: 100%;
        margin-bottom: 15px;
    }
    .shop_category_menu select:first-child {
        margin-bottom: 5px;
    }
    .category-filter .filter-toggle {
        display: none;
    }
    .blog_menu {
        margin-top: 20px;
        min-height: 35px;
    }
    .tab_tick_list .tick_list_icon .aio-icon-img {
        font-size: 20px!important;
    }
    #footer .widget_text {
        margin-top: 20px;
    }
    .page-top.page-header-1 .page-title {
        margin-bottom: -4px;
        border-bottom: 4px solid #0388cc;
        line-height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 50px;
    }
    .list .pcols-ls-1 li.product,
    .column2 .list.pcols-ls-1 li.product {
        width: 100%!important;
    }
    .list.products li.product h3,
    .list.products li.product-category h3 {
        min-height: 0;
        font-size: 14px!important;
    }
    .quickview {
        background-color: #fff!important;
    }
    .list .product .product-image .inner {
        height: auto;
    }
    .what_is_practice {
        padding-bottom: 15px;
    }
    .app_slider .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
        margin-bottom: 60px;
    }
    .home_blue_icon p {
        line-height: 15px!important;
    }
    .home_blue_icon .vc_single_image-wrapper {
        margin-bottom: 0px!important;
    }
    .page-id-6874 .shop_category_menu {
        padding-left: 10px;
        padding-right: 10px;
    }
    .list .product .description,
    .list .product .price,
    .list .product .add-links-wrap {
        padding-left: 40%!important;
        margin-left: 15px;
    }
    .carousal_img_description {
        font-size: 13px!important;
    }
    .home_money_back {
        width: 99%;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #2e6cae;
        padding: 15px 5px;
    }
    .home_money_back h2 {
        font-family: roboto bold;
        font-size: 18px;
        line-height: 18px!important;
        color: #ff9300;
        margin-bottom: 5px!important;
    }
    .home_money_back p {
        font-family: roboto regular;
        font-size: 13px;
        line-height: 19px!important;
    }
    .home_money_back_outer {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 15px;
        border: 1px solid #6790be;
        background-color: white;
    }
    .money_back_img {
        margin-bottom: 15px!important;
    }
    .digital_success {
        margin-bottom: 40px!important;
    }
    .what_is_p5new {
        margin-top: 20px;
    }
    #our_approach_to_phonics .whatis_page_header {
        margin-bottom: 10px !important;
    }
    .home_four_blocks>div {
        height: 350px;
    }
    .home_four_blocks .learncolumn .learn-1 {
        padding-top: 13px;
    }
    .home_four_blocks .wpb_single_image .vc_single_image-wrapper {
        margin-bottom: 0px;
    }
    .price del {
        font-size: 17px;
        color: #f15300;
        padding-right: 8px;
    }
    .learncolumn .home_learn_text br {
        display: none;
    }
    .ms-sl-selected {
        height: 275px!important;
    }
    .ms-slide-bgcont img {
        height: 275px!important;
    }
    .ms-view {
        height: 275px!important;
    }
    .ms-anim-layers img {
        height: auto !important;
        /* margin: 0px !important;
	    padding: 0px !important; */
        right: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .newSlider,
    .newSlider1 {
        font-size: 32px !important;
    }
    .newSlider1 {
        line-height: 40px
    }
    .ms-view,
    .ms-slide {
        height: 275px !important;
    }
    .ms-layer {
        left: 0px !important;
        font-size: 2.97143px !important;
        line-height: 5.571px !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (min-width:411px) and (max-width: 480px) {
    .cat-top-box .box-img {
        height: auto;
    }
    .cat-top-box .box-img>img {
        height: auto;
        position: unset;
    }
}

@media only screen and (max-width: 400px) {
    .ms-anim-layers img {
        top: 100px!important;
        width: 300px !important;
    }
    .ms-layer {
        top: 36px !important;
    }
}

@media only screen and (min-width:401px) and (max-width: 480px) {
    .ms-anim-layers img {
        top: 90px!important;
        width: 330px !important;
    }
    .ms-layer {
        top: 32px !important;
    }
}