@media only screen and (min-width: 992px) and (max-width: 1030px) {
    .main-content {
        padding-bottom: 60px;
    }
    .newSlider,
    .newSlider1 {
        font-size: 45px;
    }
    .ms-layer {
        width: 100%;
        left: 0px !important;
        text-align: center;
        top: 62px!important;
    }
    /* .ms-view,.ms-slide{
		height: 500px !important;
	} */
    .ms-slide-bgcont img {
        /* height: 230px !important; */
        /* margin-left: 0px !important; */
        /* margin-top: 0px !important; */
        /*width: 324px !important; */
        height: 100%!important;
    }
    .ms-anim-layers img {
        width: 630px!important;
        height: auto!important;
        /* left: 194.643px !important;
	    margin: 0 !important; */
        /* padding: 0 !important;*/
        right: 0px !important;
        top: 102px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .home_page_header h1 {
        font-size: 45px;
        line-height: 45px;
        margin: 50px 0 22px 0;
    }
    .home_page_header p {
        font-size: 20px;
        line-height: 20px;
    }
    .home_page_header {
        margin-bottom: 30px!important;
    }
    .testVideo {
        padding-left: 25px;
    }
    .videoNew {
        width: 93% !important;
    }
    .videoText {
        width: 93%;
        font-size: 15px;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .testiPara .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-top: 2em;
        font-style: normal;
        padding-left: 3px;
        font-family: roboto bold;
        color: #4d6070;
    }
    .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-top: 2em;
        font-style: normal;
        padding-left: 3px;
        font-family: roboto bold;
        color: #4d6070;
    }
    .testiPara .testimonial.testimonial-style-5 blockquote p {
        font-size: 15px;
        line-height: 22px;
    }
    .videoNew {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .testimonials {
        margin-bottom: 0px!important;
    }
    /*.review_btn_large img{
	padding-top:10px;
	 padding-bottom: 30px;
    width: 30%;
}*/
    .home_what_is_phonics h1 {
        font-size: 28px;
        line-height: 28px;
        margin: 30px 0 8px 0;
    }
    .home_what_is_phonics p {
        font-size: 15px;
        line-height: 25px;
    }
    .home_what_is_phonics .phonic_img img {
        width: 100%;
    }
    .home_what_is,
    .home_our_approach {
        padding-right: 60px!important;
    }
    .home_why_use {
        padding-left: 60px!important;
    }
    .home_what_is_phonics {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .how_prog_works_header {
        font-size: 45px;
        line-height: 45px;
        margin: 40px 0px 20px 0;
    }
    .how_the_prog_works_para {
        font-size: 24px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        line-height: 30px!important;
        letter-spacing: -1px;
    }
    .home_four_blocks {
        margin-top: 42px;
    }
    .home_four_blocks p {
        font-size: 14px;
    }
    .learncolumn,
    .practicecolumn,
    .readcolumn,
    .celebratecolumn {
        min-height: 440px;
        max-height: 440px;
        border: 2px solid white;
    }
    .eight_level_prog_text h2 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 35px;
    }
    .eight_level_prog_text p {
        font-size: 20px;
        line-height: 27px!important;
    }
    .eight_level_chart {
        margin-bottom: 58px;
    }
    .home_page_header_tabs .the_complete_header {
        font-size: 45px;
        line-height: 50px!important;
        margin: 25px 0 0 0;
    }
    .home_page_header_tabs .two_ways_text {
        margin-bottom: 25px!important;
        font-size: 45px;
        line-height: 50px!important;
    }
    .boottabs li a {
        font-size: 28px;
        height: 70px;
    }
    .boottabs li.active:last-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 15px 0 15px;
        border-color: #106fbc transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .boottabs li.active:first-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 15px 0 15px;
        border-color: #ff9419 transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .tab_tick_list ul li {
        font-size: 17px;
    }
    .tab_tick_list p {
        font-size: 17px!important;
        margin-bottom: 0px;
    }
    .tab_block p {
        font-size: 17px;
        line-height: 22px!important;
    }
    #tabid2 h2,
    #tabid1 h2 {
        font-size: 28px;
        line-height: 48px;
    }
    .home_subscribe_row,
    .digital_only_three_block {
        margin-top: 70px;
        width: 85%;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .special_comlete_kit {
        padding-left: 5%!important;
        padding-bottom: 30px;
    }
    .simply_best_header {
        font-size: 45px;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .tab_tick_list .aio-icon-img .img-icon {
        width: 28px!important;
    }
    .simply_the_best_checklist .aio-icon-img {
        font-size: 30px!important;
    }
    .simply_the_best_checklist h3 {
        font-size: 28px;
        margin: 0px!important;
        line-height: 28px;
    }
    .simply_best_text p {
        font-size: 20px;
        line-height: 27px!important;
        padding-bottom: 20px;
    }
    .desktop_award_logo {
        padding-top: 25px!important;
    }
    .award_btn {
        padding: 45px 0 45px 0;
    }
    .my_kids_exited_text h2 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .joe_alexa_text {
        font-size: 19px;
        margin: 12px 0 40px 0!important;
    }
    .the_boldest_text h3 {
        font-size: 28px;
        margin: 30px 0 25px 0;
    }
    .the_boldest_text h1 {
        font-size: 45px;
        line-height: 50px;
    }
    #tabid1 .complete_kit_span,
    .digital_only_span {
        font-size: 20px;
        line-height: 25px;
    }
    .home_subscribe_row,
    .digital_only_three_block {
        margin-top: 60px;
        width: 80%;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .lifetime_digital_only {
        border-right: 1px dashed gray;
    }
    .month_digital_only {
        border-left: 1px dashed gray;
        padding-left: 20px!important;
    }
    .year_digital_only,
    .month_digital_only {
        padding-left: 20px!important;
        padding-bottom: 30px;
    }
    #tabid1 .tab_content {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 27px;
        margin-bottom: 40px;
    }
    #tabid2 .tab_content {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 27px;
        margin-bottom: 40px;
    }
    .home_faq_header_text {
        font-size: 45px;
        line-height: 45px!important;
        margin: 45px 0 0 0;
    }
    .home_faq_header1 {
        font-size: 20px;
        padding: 20px 0 20px 0;
        line-height: 20px!important;
    }
    .toggle>label:before {
        content: url("/wp-content/uploads/2016/11/faq_arrow_1.png")!important;
        border: none;
        right: 0;
        top: 0;
    }
    .toggle.active>label:before {
        border: 0;
        content: url("/wp-content/uploads/2016/11/faq_arow_1.png")!important;
        right: 0;
        top: 0;
    }
    .faq_header {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
        padding-left: 15px;
        margin-bottom: 7px;
        width: 100%;
    }
    .page-faqs label p {
        vertical-align: middle;
        display: table-cell;
    }
    .home_faq_button img {
        padding-top: 33px;
    }
    section.toggle label,
    .toggle>label:hover {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
        height: 69px;
        border-left: 0px;
    }
    section.toggle.active>label {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
    }
    .my_kids_exited_text h2 {
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        width: 570px;
    }
    .tab_block .vc_single_image-wrapper img {
        width: 100%;
    }
    .testiPara {
        padding-top: 10px;
    }
    /* .home_improve_by .wpb_text_column{
	margin-bottom:45px!important;
} */
    .tab_block1 p,
    .tab_block4 p {
        padding-top: 14px;
    }
    .tab_block2 p,
    .tab_block3 p {
        padding-top: 25px;
    }
    .header_try_btn img {
        width: 200px!important;
    }
    .simply_l1 {
        padding-left: 25px!important;
    }
    #what_is_mobile_image {
        display: none;
    }
    #product_name_mobile {
        display: none;
    }
    /* global */
    .page-top .page-title {
        font-size: 24px;
    }
    .page-top ul.breadcrumb li {
        font-size: 24px;
    }
    p,
    ol li,
    ul li {
        font-size: 15px;
        line-height: 21px!important;
    }
    /*reviews page */
    .reviews_page_header h1 {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 25px!important;
    }
    .reviews_video p {
        font-size: 13px;
        line-height: 18px;
    }
    .reviews_video {
        padding-bottom: 50px;
    }
    .testimonial.testimonial-style-5 blockquote {
        padding: 6px 0px;
    }
    .testimonial-title {
        font-size: 15px;
        line-height: 21px;
    }
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 15px;
        line-height: 21px;
        padding-left: 3px;
    }
    .vc_video-aspect-ratio-169 {
        margin-bottom: 10px !important;
    }
    /*faq page*/
    .faq_page_header {
        font-size: 35px;
        line-height: 35px!important;
    }
    div.ufaq-faq-title h4 {
        font-size: 22px;
        line-height: 24px;
        color: #5d6f7f!important;
    }
    /*awards page*/
    .awards_header {
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 35px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 22px;
        line-height: 24px;
    }
    .award_row p {
        font-size: 15px;
        line-height: 21px;
    }
    .blog_menu {
        margin-top: 35px;
    }
    /* privacy page*/
    .privacy_page_header {
        margin: 0 0 25px 0;
        font-size: 35px;
        line-height: 35px;
    }
    .inner_page_content p {
        font-size: 15px;
        color: #4d606f;
        line-height: 21px!important;
    }
    /*about page*/
    .about_heading2 {
        font-size: 22px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 50px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .about_subheader {
        font-size: 22px;
        line-height: 24px!important;
        color: #276bae;
    }
    .about_list ul li {
        font-size: 26.48px;
        line-height: 30px!important;
    }
    .about_video_header p {
        font-size: 22px;
        line-height: 24px!important;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 10px;
    }
    .about_image img {
        width: 97%!important;
    }
    /*footer*/
    #footer .widget>div>ul li {
        padding-left: 0px;
        line-height: 16px!important;
    }
    /*waht is phonics page*/
    .whatis_page_header {
        margin: 0 0 25px 0;
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 25px!important;
    }
    .what_is_header1 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .what_is_p1 {
        line-height: 21px!important;
        font-size: 15px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3,
    .what_is_p4 h3,
    .what_is_subheading h3,
    .what_is_p9 h3 {
        font-family: roboto bold !important;
        font-size: 22px;
        line-height: 24px!important;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 22px;
        color: #266bae;
        margin-bottom: 14px;
        letter-spacing: -1px;
        line-height: 24px;
    }
    .what_is_subheading1 h3 {
        font-size: 22px;
        line-height: 24px;
        color: #266bae;
        margin-top: 50px;
        font-family: roboto bold !important;
    }
    .whatis_page_header1 {
        margin-top: 50px;
        color: #276bae;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px!important;
    }
    .what_is_list2 ul li {
        font-size: 18px;
        line-height: 28px!important;
    }
    .post-6074 .vc_single_image-wrapper img {
        width: 100% !important;
        padding-right: 10px;
    }
    .what_is_p4 {
        margin-bottom: 50px!important;
    }
    .what_is_p9 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .our_approach_content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .yourchildreads {
        font-size: 22px !important;
        line-height: 24px!important;
    }
    .what_is_learn,
    .what_is_read,
    .what_is_celebrate_txt,
    .what_is_practice_txt {
        font-size: 22px;
        line-height: 24px!important;
    }
    .what_is_p5 {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .what_is_p5new {
        padding-bottom: 40px;
    }
    #learn_practice {
        margin-top: 15px;
        padding-bottom: 50px;
    }
    /*product page*/
    .tab_header {
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
    .tab_block,
    .tab_tick_list {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .home_subscribe_btn {
        padding-bottom: 10px!important;
    }
    #product-tab .tab-content p {
        font-size: 15px;
        line-height: 21px!important;
    }
    .resp-tabs-list li {
        font-size: 15px;
        line-height: 21px!important;
    }
    .shop_category_menu {
        display: none;
    }
    .wpb_video_wrapper iframe #player {
        background-color: #fff!important;
    }
    .blog_nav ul li {
        width: 25%;
        /* height: 55px; */
        border: 1px solid white;
    }
    .aps-search-form input#type-post-name {
        width: 75%!important;
    }
    .term-1st-grades .cat-top-box .cat-kind,
    .term-1st-grade .cat-top-box .cat-kind {
        margin-top: 10px;
    }
    .term-pre-k .cat-top-box .cat-kind,
    .term-pre-k-replacement-parts .cat-top-box .cat-kind {
        margin-top: 15px;
    }
    .term-kindergarten .cat-top-box .cat-kind,
    .term-kindergarten_rpl .cat-top-box .cat-kind {
        margin-top: 24px;
    }
    .cat-top-box {
        overflow: hidden;
        padding: 0 15px 0 15px;
        border: 3px solid;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .cat-top-box .ct-img {
        margin: -60px 0 -3px 30px;
        width: 25%;
        float: right;
    }
    .cat-box-wrap {
        color: #ec373b;
        float: left;
        width: 100%;
    }
    .cat-box-wrap h1 {
        display: block;
        float: left;
        font-size: 49.71px;
        /* line-height: 100px; */
        margin: 0;
        padding-right: 15px;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 5px;
    }
    .cat-box-wrap .cat-txt {
        width: 65%;
    }
    .cat-top-box .cat-kind {
        width: 100%;
        margin-top: 3px;
        font-family: roboto medium;
        font-size: 17px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .cat-box-wrap .cat-txt {
        font-size: 17px;
    }
    .cat-top-box .box-img {
        float: right;
        width: 30%;
        height: 165px;
    }
    .cat-top-box .box-img img {
        margin-top: 30px;
    }
    .cat-top-box .prod_cat_left {
        float: left;
        width: 70%;
    }
    .cat-top-box .box-first {
        float: right;
    }
    /* .cat-top-box .cat-second{
width: 31%;
} */
    .cat-top-box .box-second {
        float: right;
    }
    #desktop_try_img {
        width: 17%;
    }
    .page-top.page-header-1 .page-title {
        padding-bottom: 1px;
        margin-bottom: -4px;
        border-bottom: 4px solid #0388cc;
        min-height: 46px;
        /*display:none;*/
    }
    .what_is_p2 p {
        margin-bottom: 10px!important;
    }
    .what_is_p2 h3 {
        margin-bottom: 10px!important;
    }
    .app_slider .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
        margin-bottom: 40px;
    }
    #why_use_phonics .whatis_page_header,
    #our_approach_to_phonics .whatis_page_header {
        margin-top: 25px;
    }
    .home_money_back {
        width: 620px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #2e6cae;
        padding: 20px 20px 30px;
    }
    .home_money_back h2 {
        font-family: roboto bold;
        font-size: 28px;
        line-height: 28px!important;
        color: #ff9300;
        margin-bottom: 5px!important;
    }
    .home_money_back p {
        font-family: roboto regular;
        font-size: 20px;
        line-height: 28px!important;
    }
    .home_money_back_outer {
        width: 650px;
        margin-right: auto;
        margin-left: auto;
        padding: 15px;
        border: 1px solid #6790be;
        background-color: white;
    }
    .ms-sl-selected {
        height: 448px!important;
    }
    .ms-slide-bgcont img {
        height: 448px!important;
    }
    .ms-view {
        height: 448px!important;
    }
    .reading_pro_app_icons .wpb_single_image {
        width: 145px;
        padding-top: 7px;
    }
    .price del {
        font-size: 18px;
        color: #f15300;
        padding-right: 8px;
    }
}

@media only screen and (min-width: 1031px) and (max-width: 1207px) {
    .cat-top-box .box-img {
        float: right;
        height: 150px;
        width: 30%;
        text-align: center;
    }
    .cat-top-box .box-img img {
        margin-top: 30px;
    }
    .cat-top-box .prod_cat_left {
        float: left;
        width: 70%;
    }
    .cat-box-wrap h1 {
        display: block !important;
        float: left;
        margin: 0;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-top: 25px;
        width: 100% !important;
    }
    .cat-top-box .cat-kind {
        padding-bottom: 25px;
        padding-top: 25px;
        width: 100% !important;
        display: block !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1111px) {
    .ltr_app_icons .wpb_single_image:first-child {
        padding-bottom: 8px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    .ltr_app_icons .wpb_single_image {
        padding-bottom: 8px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* apps page sensor tower issue */

@media only screen and (min-width: 992px) and (max-width: 1160px) {
    .page-id-5985 .app_contents_text .apps_content,
    .page-id-6013 .app_contents_text .apps_content {
        width: 60%;
    }
    .page-id-5985 .app_contents_text .app_js_codes,
    .page-id-6013 .app_contents_text .app_js_codes {
        width: 40%;
    }
    .page-id-7032 .app_contents_text .apps_content {
        width: 60%;
    }
    .page-id-7032 .app_contents_text .app_js_codes {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1120px) {
    div#faq_heading {
        top: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .page-id-6036 .page-content {
        margin-top: -65px;
    }
}