/* 768px to 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product .product-image .inner {
        height: 238px;
    }
    .for_mobile {
        display: none;
    }
    .blog_menu {
        margin-top: 35px;
        border-radius: 1px;
        background-color: transparent;
        border-color: transparent;
    }
    .blog_nav ul li {
        width: 25%;
    }
    .left-sidebar .widget_product_categories {
        display: none;
    }
    /* privacy page*/
    .privacy_page_header {
        margin: 0 0 25px 0;
        font-size: 30px;
        line-height: 30px;
    }
    .page-id-5967 .inner_page_content ol li {
        padding-bottom: 12px;
    }
    /* app page*/
    .app_contents_text {
        padding-top: 20px;
    }
    .app_contents_text .vc_column_container:first-child {
        padding-left: 0px!important;
    }
    .app_header_btn {
        padding: 0 0 24px 0px;
    }
    .ltr_app_icons .wpb_single_image:first-child {
        padding-bottom: 8px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    .ltr_app_icons .wpb_single_image {
        padding-bottom: 8px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    .reading_pro_app_icons .wpb_single_image {
        width: 110px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 7px;
    }
    .reading_pro_app_icons {
        margin-top: 7%;
    }
    .reading_pro_btn {
        padding-left: 0px!important;
    }
    .app_js_codes,
    .apps_content {
        width: 100%!important;
    }
    .app_js_codes {
        padding-top: 50px;
    }
    /* app page ends*/
    /*  global */
    .main-content {
        padding-top: 0px!important;
    }
    .blog-1 .main-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    #footer .widget>div>ul li {
        padding-left: 0px;
        line-height: 16px;
    }
    #footer .widget-title,
    #footer h3 {
        font-size: 16px;
    }
    #footer p,
    #footer .widget>div>ul li,
    #footer .widget>ul li,
    .disclosure_p li {
        font-size: 13px;
    }
    .widget.widget_text li {
        font-size: 13px;
    }
    #footer .footer-bottom {
        font-size: 13px;
    }
    #footer .footer-bottom .footer-left:first-child {
        text-align: center;
        padding-bottom: 18.75px;
    }
    .page-top .page-title {
        font-size: 22px;
    }
    .page-top ul.breadcrumb li {
        font-size: 22px;
    }
    #header .mobile-toggle {
        float: right;
    }
    #mini-cart.minicart-inline .cart-head {
        padding: 0 30px 0 30px;
    }
    #header_cart_price {
        color: white;
        position: absolute;
        padding-left: 13px;
    }
    .mobile-hide {
        display: block!important;
    }
    .mobile-show {
        display: none!important;
    }
    .header_try_btn {
        float: left;
        margin-left: 8%;
    }
    .mobile-toggle .fa {
        font-size: 30px;
        color: white;
    }
    #desktop_try_img {
        display: none;
        width: 70%;
    }
    #mobile_try_image {
        padding-left: 24%;
        padding-top: 3px;
    }
    #header .header-main .container .header-center,
    #header .header-main .container .header-left,
    #header .header-main .container .header-right {
        padding: 0px!important;
    }
    #mini-cart.minicart-inline .cart-head {
        background-image: url(/wp-content/uploads/2016/11/CART.png) !important;
        background-repeat: no-repeat;
        background-position: 5px 4px;
        background-color: #0080cc;
        width: 88%;
        border-radius: 5px;
    }
    #mini-cart.minicart-inline .cart-head-bg {
        background-image: url(/wp-content/uploads/2016/11/CART.png) !important;
        background-repeat: no-repeat!important;
        background-position: 5px 4px;
        background-color: #f15300;
        width: 88%;
        border-radius: 5px;
    }
    .woocommerce-page .main-content {
        padding-top: 25px!important;
    }
    .single-product .main-content {
        padding-top: 0px!important;
    }
    .woocommerce .featured-box .box-content {
        margin-top: 25px;
    }
    #content .type-page {
        margin-top: 25px;
    }
    .page-id-6 #content .type-page {
        margin-top: 0px;
    }
    .inner_page_content p {
        font-size: 14px;
        color: #4d606f;
        line-height: 20px!important;
        margin-bottom: 10px;
    }
    p,
    ol li,
    ul li {
        font-size: 14px;
        line-height: 20px!important;
    }
    .page ol ol {
        padding-left: 0px;
    }
    .page ol ol ul {
        padding-left: 25px!important;
    }
    .inner_page_content ol li,
    .inner_page_content ul li {
        color: #4d606f;
        line-height: 22px;
    }
    .testimonial.testimonial-style-5 blockquote {
        padding: 12px 0px;
    }
    .testimonial-title {
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background-image: url(/wp-content/uploads/2016/09/stars.png);
        text-align: left;
        padding-left: 3px;
        padding-top: 2em;
        font-style: normal;
        font-family: roboto bold;
        color: #4d6070;
    }
    .testiPara .testimonial-title {
        font-size: 14px;
    }
    .testiPara .testimonial.testimonial-style-5 blockquote p {
        font-size: 14px;
        line-height: 21px;
        padding-left: 3px;
        margin-bottom: 15px!important;
    }
    .testimonials {
        margin-bottom: 0px!important;
    }
    .testimonials:first-child {
        margin-top: 10px!important;
    }
    .videoNew {
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-bottom: 5px!important;
    }
    .reviews_video {
        padding-bottom: 40px;
    }
    .testimonial-title {
        font-size: 14px;
    }
    .testimonial.testimonial-style-5 blockquote p {
        font-size: 14px;
        line-height: 20px!important;
        padding-left: 3px;
        margin-bottom: 10px!important;
    }
    .reviews_video p {
        font-size: 13px;
        line-height: 16px;
    }
    .reviews_page_header h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px!important;
    }
    .awards_header {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 30px;
    }
    .award_page_para {
        margin-bottom: 25px!important;
    }
    .award_row p {
        font-size: 14px;
        line-height: 20px;
    }
    .award1 h4,
    .award2 h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .award1 .vc_column_container:first-child,
    .award2 .vc_column_container:first-child {
        padding-left: 0px;
        padding-right: 0px;
    }
    .award1 {
        padding-right: 50px!important;
    }
    .award2 {
        padding-left: 50px!important;
    }
    .for_mobile {
        display: none;
    }
    .blog_nav ul li a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blog_menu {
        margin-top: 35px;
    }
    .blog_nav ul li {
        width: 25%;
    }
    /* single blog page */
    body.single-post article.post .single_blog_title {
        font-size: 29.7px;
        margin: 16px 0 12px 0;
        line-height: 33px;
    }
    body.single-post article.post .single_blog_category a {
        font-size: 13.98px;
    }
    .rt-tpg-container .layout2 .rt-holder .rt-detail h2 {
        font-size: 18px;
        line-height: 25px;
    }
    article.post h2 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
    }
    .blog-posts {
        margin-top: 18px;
    }
    .award_row {
        margin-bottom: 53px!important;
    }
    .award_row:last-child {
        margin-bottom: 0px!important;
    }
    .featured_prod_header {
        color: #ffffff;
        background-color: #276bae;
        padding: 10px;
        font-size: 22px;
        margin-bottom: 15px!important;
        margin-top: 15px;
    }
    .about_heading2 {
        font-size: 20px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 50px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .term-description p {
        margin-bottom: 3px !important;
    }
    p {
        margin: 0 0 10px;
    }
    /* about us page*/
    #about_video_row1 {
        margin-top: 35px;
    }
    .about_subheader {
        font-size: 20px;
        line-height: 22px!important;
        color: #2269b0;
    }
    .about_list ul li {
        font-size: 17px;
        line-height: 17px;
    }
    .about_list_header {
        margin-bottom: 10px;
    }
    .about_video_header p {
        text-align: left;
        letter-spacing: 0px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 22px;
    }
    .about_strong_no_gap {
        margin-bottom: 0px;
    }
    .about_video_header {
        margin-bottom: 15px;
        /* margin-top: 30px; */
    }
    .about_italic_p {
        font-size: 20px;
    }
    .about_image {
        margin-bottom: 20px!important;
    }
    .as_dan_text {
        margin-top: 30px;
    }
    /* about us page ends */
    .vc-gitem-zone-height-mode-auto:before {
        padding-top: 40%;
    }
    .vc_grid-filter.vc_grid-filter-default>.vc_grid-filter-item {
        border-radius: 4px;
    }
    .blog_menu .blog_nav ul li a {
        font-size: 13px;
    }
    article.post .post-image.single {
        margin-bottom: 20px;
    }
    article.post-full,
    article.post-large {
        margin-left: 0px;
    }
    article.post-large .post-image {
        margin-left: 0px;
    }
    .main-content {
        padding-bottom: 45px;
    }
    .blog-posts article:first-child>.row div {
        width: 100%!important;
    }
    .blog-posts article:first-child>.row div img {
        width: 97%!important;
    }
    .blog-posts article div .col-sm-12 {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .blog-posts article div .col-sm-5 {
        padding-left: 0px!important;
    }
    .blog-posts article div .col-sm-7 {
        padding-right: 0px!important;
    }
    .blog-posts article:first-child>.row div .post-image.single {
        margin-bottom: 20px!important;
    }
    .blog-posts article {
        margin-bottom: 30px!important;
    }
    hr.tall {
        margin: 5px 0;
    }
    .buy_complete_kit {
        border-right: 1px dashed gray;
    }
    .award_logo_mobile {
        display: none;
    }
    .app_header {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px!important;
    }
    .app_icons {
        text-align: center!important;
    }
    .app_header_btn .vc_column_container {
        width: 250px;
    }
    .app_sliders {
        border: 10px solid white;
        border-bottom: 2px solid white;
        border-top: 20px solid white;
        background-color: white;
        margin: 15px 20px 15px 15px;
    }
    .app_sliders .vc_images_carousel ol.vc_carousel-indicators {
        margin: 0px 0 -13px 11%!important;
    }
    .page-id-5985 .apps_content ul,
    .page-id-6013 .apps_content ul {
        -webkit-padding-start: 22px;
    }
    .reading_pro_app_icons .apps_icon {
        margin-bottom: 0px!important;
    }
    .reading_pro_app_icons .wpb_content_element {
        margin-bottom: 0px!important;
    }
    .ltr_app_icons {
        padding-top: 15px;
    }
    .page-id-6013 .vc_row,
    .page-id-5985 .vc_row,
    .page-id-7043 .vc_row,
    .page-id-7032 .vc_row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .inner_page_content .cust_service_ul {
        margin-top: 17px;
    }
    /*what is page */
    .whatis_page_header {
        margin: 0 0 25px 0;
        font-size: 30px;
        line-height: 30px!important;
        margin-bottom: 25px!important;
    }
    .whatis_page_header1 {
        margin-top: 50px;
        color: #276bae;
        font-size: 20px;
        line-height: 22px!important;
        margin-bottom: 10px!important;
    }
    .what_is_header1 {
        font-size: 20px;
        line-height: 22px!important;
        color: #276bae;
        margin-bottom: 4px;
    }
    .what_is_p1 {
        line-height: 20px!important;
        font-size: 14px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3,
    .what_is_p4 h3,
    .what_is_subheading h3 {
        margin-bottom: 7px;
        font-size: 20px;
        color: #266bae;
    }
    .what_is_subheading1 h3 {
        font-size: 20px;
        line-height: 22px!important;
        color: #266bae;
        margin-top: 20px;
    }
    .what_is_p4 .wpb_video_widget {
        margin-bottom: 10px!important;
    }
    .what_is_p4 .wpb_video_wrapper {
        width: 80%;
    }
    .what_is_p4 p {
        width: 80%;
    }
    .what_is_p4 {
        margin-bottom: 50px!important;
    }
    .what_is_p5 {
        padding-top: 16px;
    }
    .what_is_p2 p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .what_is_p3 p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .what_is_p3 {
        margin-top: 15px;
    }
    .what_is_p4 p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .what_is_p9 h3 {
        font-size: 20px;
        line-height: 22px!important;
        color: #266bae;
        margin-bottom: 10px;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 20px;
        line-height: 22px!important;
        color: #266bae;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }
    .what_is_list2 {
        margin-bottom: 0px!important;
    }
    .what_is_read,
    .what_is_celebrate {
        margin-bottom: 0px!important;
    }
    .what_is_list2 ul li {
        font-size: 16px;
        line-height: 24px!important;
    }
    .what_is_celebrate strong,
    .what_is_read strong,
    .what_is_learn strong,
    .what_is_practice strong {
        font-size: 20px;
        line-height: 22px!important;
    }
    #learn_practice,
    #read_celebrate {
        margin-top: 15px;
    }
    .what_is_row {
        margin-top: 30px;
    }
    .our_approach_list ul li {
        margin-bottom: 13px!important;
    }
    .what_is_desktop_image {
        width: 93%!important;
    }
    /*what is page ends*/
    /*faq page*/
    .faq_page_header {
        font-size: 30px;
        line-height: 30px!important;
    }
    .faq_left_header {
        margin-bottom: 5px!important;
    }
    .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/yellow-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
        margin-left: 5px;
    }
    .ewd-ufaq-post-margin-symbol span {
        display: none;
    }
    .ufaq-faq-title-text {
        padding: 12px 0;
    }
    div.ufaq-faq-title h4 {
        font-size: 20px;
        line-height: 22px;
        color: #5d6f7f!important;
    }
    .ufaq-faq-title {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
    }
    .ufaq-faq-body {
        /*padding-left: 105px;*/
    }
    .ewd-ufaq-post-active .ufaq-faq-title .ewd-ufaq-post-margin-symbol {
        background: url("/wp-content/uploads/2016/10/orange-arrow.png")!important;
        background-repeat: no-repeat!important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center!important;
        margin-top: 12px!important;
        margin-right: 0px;
    }
    .faq_tagcloud {
        margin-bottom: 25px;
        top: 150px;
    }
    div#faq_heading {
        top: 65px;
    }
    .home_subscribe_btn {
        padding-bottom: 10px!important;
    }
    /*faq page ends*/
    .tab_header {
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
    .tab_block,
    .tab_tick_list {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    #tabid1 .tab_content {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 27px;
        margin-bottom: 40px;
    }
    #tabid2 .tab_content {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 27px;
        margin-bottom: 40px;
    }
    /*custom product page*/
    .custom_product_complete h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
    }
    .custom_product_complete p {
        font-family: roboto bold;
        color: #4d606f;
        font-size: 17.99px;
    }
    .custom_product_complete .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .custom_product_digital h2 {
        margin-bottom: 0px;
        font-family: roboto bold;
        color: #0081c9;
        font-size: 24px;
        line-height: 29px;
    }
    .custom_product_digital p {
        font-family: roboto regular;
        color: #4d606f;
        font-size: 15px;
        line-height: 20px;
    }
    .custom_product_digital .custom_product_subscribe_btn a {
        margin-bottom: margin-top:
    }
    .home_page_header h1 {
        margin: 30px 0px 15px !important;
        font-size: 38px;
        line-height: 38px;
    }
    .home_page_header p {
        margin-bottom: 12px !important;
        font-size: 17px;
        line-height: 17px;
    }
    .testVideo .videoText {
        font-size: 14px;
        padding-right: 20px !important;
        padding-left: 20px !important;
        line-height: 18px!important;
    }
    .testimonial-title {
        padding-top: 28px!important;
    }
    .vc_empty_space {
        display: none !important;
    }
    /* .award_btn .wpb_single_image img, .home_faq_button img, .home_subscribe_btn img{
		
		max-width: 45% !important;
	} */
    .review_btn_large img {
        padding-bottom: 20px;
    }
    .home_subscribe_btn img {
        padding-top: 30px!important;
    }
    .porto-testimonial p {
        margin: 0px !important;
    }
    .home_what_is_phonics h1,
    .home_why_use h1,
    .home_our_approach h1 {
        font-size: 24px;
        line-height: 24px;
        margin: 10px 0 5px 0;
    }
    .home_what_is_phonics p {
        font-size: 14px;
        line-height: 20px;
    }
    .home_what_is_phonics .phonic_img img {
        width: 100%;
    }
    .how_prog_works_header {
        margin: 30px 0 10px !important;
        font-size: 38px;
        line-height: 38px;
    }
    .how_the_prog_works_para {
        padding-left: 70px !important;
        padding-right: 70px !important;
        font-size: 17px;
    }
    .home_four_blocks {
        margin-top: 30px;
    }
    .eight_level_prog_text h2 {
        font-size: 38px;
        line-height: 41px;
        margin: 20px 0 15px 0;
    }
    .eight_level_prog_text p {
        font-size: 17px !important;
        line-height: 24px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .eight_level_chart {
        margin-bottom: 38px;
    }
    .home_what_is {
        padding-right: 50px !important;
        padding-top: 30px;
    }
    .learncolumn p br {
        display: none;
    }
    .home_our_approach {
        padding-right: 50px !important;
        padding-top: 20px;
    }
    .home_why_use {
        padding-left: 50px!important;
        padding-top: 30px;
    }
    .home_what_is_phonics {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .the_complete_header,
    .two_ways_text {
        font-size: 38px !important;
        line-height: 41px !important;
    }
    .the_complete_header {
        padding-top: 25px;
    }
    .two_ways_text {
        padding-bottom: 30px;
    }
    .the_boldest_text h3 {
        font-size: 24px;
        margin: 0 !important;
        padding-top: 30px;
    }
    .the_boldest_text h1 {
        font-size: 38px;
        line-height: 42px;
    }
    .money_back_img img {
        max-width: 75% !important;
    }
    .my_kids_exited_text h2 {
        padding-left: 100px;
        padding-right: 100px;
        margin: 0px;
        font-size: 24px;
        line-height: 30px;
        margin-top: 23px;
    }
    .home_faq_header_text {
        font-size: 38px !important;
        margin-top: 15px;
        line-height: 38px !important;
    }
    .home_faq_header1 {
        font-size: 17px !important;
        padding: 7px 0 20px 0;
        line-height: 16px!important;
        letter-spacing: -1px;
    }
    .what_is_header1 {
        font-weight: bold !important;
        font-family: roboto bold !important;
        font-size: 18px;
        line-height: 20px!important;
        margin-bottom: 12px;
    }
    .what_is_p2 h3,
    .what_is_p3 h3,
    .what_is_p4 h3,
    .what_is_subheading h3,
    .what_is_p9 h3 {
        font-family: roboto bold !important;
        font-size: 20px;
        line-height: 22px!important;
    }
    .what_is_subheading1 h3 {
        font-size: 20px;
        line-height: 22px!important;
        color: #266bae;
        margin-top: 50px;
        font-family: roboto bold !important;
    }
    .what_is_p10 h3,
    .what_is_p11 h3 {
        font-size: 20px;
        color: #266bae;
        margin-bottom: 14px;
        letter-spacing: -1px;
        line-height: 22px!important;
        font-family: roboto bold !important;
    }
    .newSlider1 {
        font-size: 40px !important;
    }
    .newSlider {
        font-size: 40px !important;
    }
    /* .ms-view,.ms-slide{
		height: 230px !important;
	} */
    .ms-slide-bgcont img {
        /* height: 230px !important;
	    margin-left: 0px !important;
	    margin-top: 0px !important; */
        height: 100%!important;
    }
    .ms-anim-layers img {
        height: auto!important;
        padding: 0 !important;
        right: 0px !important;
        top: 85px !important;
        width: 505px!important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .ms-layer {
        width: 100%;
        left: 0px !important;
        top: 50px !important;
        text-align: center;
    }
    /*.home_learn_text,.home_practice_text,.home_read_text,.home_celebrate_text{
		min-height: 100px !important;
		margin-bottom: 5px !important;
	}
	*/
    /* .app_js_codes{
		display:none;
	} */
    .readcolumn {
        padding-bottom: 12px;
    }
    section.toggle label,
    .toggle>label:hover {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
        height: 45px;
    }
    section.toggle.active>label {
        border-left-color: #fefaef!important;
        background-color: #fefaef!important;
        font-size: 32px;
        line-height: 34px;
    }
    .toggle.active>label::before {
        margin-top: 0px;
    }
    .home_faq_button {
        margin-top: 30px;
    }
    .toggle>label:before {
        content: url("/wp-content/uploads/2016/11/faq_arrow_2.png")!important;
        border: none;
        right: 0;
        top: 0;
    }
    .toggle.active>label:before {
        /*border: 14px solid transparent;
	    border-top-color: #ff9219;
	    margin-top: 5px;
		margin-right: 5px;*/
        border: 0;
        content: url("/wp-content/uploads/2016/11/faq_arow_2.png")!important;
        right: 0;
        top: 0;
    }
    .faq_header {
        font-size: 17px;
        padding: 0 0 0 15px;
        letter-spacing: -1px;
        width: 100%;
    }
    .page-faqs label p {
        vertical-align: middle;
        display: table-cell;
    }
    .home_read_text,
    .home_celebrate_text {
        margin-bottom: 0px !important;
    }
    .home_learn_text,
    .home_practice_text {
        margin-bottom: 0px !important;
    }
    .learncolumn,
    .practicecolumn,
    .readcolumn,
    .celebratecolumn {
        min-height: 395px;
        max-height: 395px;
        border: 2px solid white;
    }
    .joe_alexa_text {
        font-size: 17PX;
        line-height: 17px!important;
        margin: 10px 0 25px 0!important;
    }
    /*codes by Arshid */
    .cat-top-box {
        padding: 0 20px 0 20px;
        float: left;
        width: 100%;
        margin-bottom: 25px;
    }
    .cat-box-wrap h1 {
        padding-top: 10px;
        margin-right: 20px;
        font-size: 26px;
        line-height: 90px;
        margin-bottom: 10px;
        float: left;
    }
    .cat-box-wrap .cat-txt {
        width: 65%;
        font-size: 15px;
    }
    .cat-top-box .ct-img,
    .cat-top-box .box-img,
    .cat-top-box .box-img {
        width: 25%;
        float: right;
    }
    .cat-top-box .box-first-top {
        margin-top: 0px;
    }
    .cat-top-box .box-second {
        width: 18%;
        float: right;
    }
    .cat-top-box .box-first {
        width: 18%;
        float: right;
    }
    .cat-top-box .box-img {
        margin-top: 0px;
    }
    .cat-top-box .txt-kind {
        width: 77%;
        font-family: roboto medium;
        font-size: 16px;
    }
    .term-kindergarten .cat-top-box .txt-kind,
    .term-kindergarten_rpl .cat-top-box .txt-kind {
        padding-top: 18px;
    }
    .term-pre-k .cat-top-box .txt-kind,
    .term-1st-grades .cat-top-box .txt-kind,
    .term-pre-k-replacement-parts .cat-top-box .txt-kind,
    .term-1st-grade .cat-top-box .txt-kind {
        padding-top: 25px;
    }
    .term-2nd-grades .cat-top-box .txt-kind,
    .term-2nd-grade .cat-top-box .txt-kind {
        padding-top: 25px;
    }
    .widget_product_categories ul li .toggle {
        right: 65%;
    }
    /*codes by Arshid ends */
    .boottabs li a {
        font-size: 24px;
        height: 60px;
    }
    .boottabs li.active:last-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 12px 0 12px;
        border-color: #106fbc transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .boottabs li.active:first-child a:after {
        position: absolute;
        left: 49.8%;
        bottom: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 12px 0 12px;
        border-color: #ff9419 transparent transparent transparent;
        /*border-style: inset;
    -webkit-transform:rotate(360deg);*/
        content: ' ';
    }
    .tab_tick_list ul li {
        font-size: 16px;
    }
    .tab_tick_list p {
        font-size: 16px!important;
        margin-bottom: 0px;
    }
    .tab_block p {
        font-size: 16px;
        line-height: 21px;
    }
    #tabid2 h2,
    #tabid1 h2 {
        font-size: 26px;
        line-height: 48px;
    }
    .simply_best_header {
        font-size: 38px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .tab_tick_list .aio-icon-img .img-icon {
        width: 24px!important;
    }
    .simply_the_best_checklist .aio-icon-img {
        font-size: 28px!important;
    }
    .simply_tick_list h3 {
        font-size: 30px !important;
        line-height: 32px !important;
        margin: 0px !important;
    }
    .simply_tick_list {
        margin-bottom: 10px !important;
    }
    .simply_best_text p {
        font-size: 17px;
        line-height: 27px;
        padding-bottom: 20px;
    }
    .award_btn {
        padding: 45px 0 45px 0;
    }
    .home_subscribe_row,
    .digital_only_three_block {
        width: 555px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .special_comlete_kit {
        padding-left: 30px!important;
    }
    .digital_only_span,
    .buy_complete_kit span,
    .special_comlete_kit p {
        font-size: 19px;
    }
    #footer>.container {
        padding-top: 25px;
    }
    .testVideo {
        padding-left: 40px;
        padding-right: 40px;
    }
    .right-sidebar {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .shop-loop-before .woocommerce-ordering {
        float: right!important;
        margin-right: 100px!important;
    }
    .incredibly_fun_text2 {
        padding-bottom: 10px;
    }
    .incredibly_fun_text1 {
        padding-bottom: 5px;
    }
    .home_improve_by .wpb_text_column {
        margin-bottom: 20px!important;
    }
    .tab_block1 p,
    .tab_block4 p,
    .tab_block2 p {
        padding-top: 14px;
    }
    .tab_block3 p {
        padding-top: 20px;
    }
    .testiPara {
        padding-top: 15px;
    }
    #what_is_mobile_image {
        display: none;
    }
    .summary-before {
        margin-left: 0px;
    }
    .entry-summary .product_title {
        display: none;
    }
    /* .shop_category_menu{
	    padding-left: 10px;
    padding-right: 10px;
} */
    .shop_category_menu select {
        height: 36px;
        width: 49.5%;
        margin-bottom: 25px;
    }
    .shop_category_menu select:last-child {
        float: right;
    }
    #product-tab .tab-content p {
        font-size: 14px;
        line-height: 20px!important;
    }
    .resp-tabs-list li {
        font-size: 14px;
        line-height: 20px!important;
    }
    .category-filter .filter-toggle {
        display: none;
    }
    .what_is_learn,
    .what_is_read,
    .what_is_celebrate_txt,
    .what_is_practice_txt {
        font-size: 20px;
        line-height: 22px!important;
    }
    .what_is_p9 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .what_is_p5 {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .what_is_p5new {
        padding-bottom: 40px;
    }
    #learn_practice {
        margin-top: 15px;
        padding-bottom: 50px;
    }
    #footer .widget_text {
        margin-top: 20px;
    }
    .reviews_video .wpb_video_widget {
        margin-bottom: 7px !important;
    }
    .page-top.page-header-1 .page-title {
        padding-bottom: 1px;
        margin-bottom: -4px;
        border-bottom: 4px solid #0388cc;
        min-height: 46px;
        /*display:none;*/
    }
    .page-id-6874 .shop_category_menu {
        padding-left: 10px;
        padding-right: 10px;
    }
    #why_use_phonics .whatis_page_header,
    #our_approach_to_phonics .whatis_page_header {
        margin-top: 25px;
    }
    .home_money_back {
        width: 520px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #2e6cae;
        padding: 20px 20px 30px;
    }
    .home_money_back h2 {
        font-family: roboto bold;
        font-size: 30px;
        line-height: 30px!important;
        color: #ff9300;
        margin-bottom: 5px!important;
    }
    .home_money_back p {
        font-family: roboto regular;
        font-size: 16px;
        line-height: 22px!important;
    }
    .home_money_back_outer {
        width: 550px;
        margin-right: auto;
        margin-left: auto;
        padding: 15px;
        border: 1px solid #6790be;
        background-color: white;
    }
    .ms-sl-selected {
        height: 360px!important;
    }
    .ms-slide-bgcont img {
        height: 360px !important;
    }
    .ms-view {
        height: 360px !important;
    }
    .price del {
        font-size: 17px;
        color: #f15300;
        padding-right: 8px;
    }
    .mob .type-post-name-mob {
        width: 92%!important;
    }
}

.app_slider .vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
    margin-bottom: 0px !important;
    height: calc(100% + 50px)!important;
}